{if !empty($options->analytics_id)}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={$options->analytics_id}"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){ dataLayer.push(arguments); }
      gtag('js', new Date());

      gtag('config', {$options->analytics_id});
  </script>
  <!-- /Google Analytics -->
{/if}