<div class="section-contact">
    <div class="section-bg"></div>
    <div class="section-inner">
        <div class="contacts-wrap">
            <h3 class="title">{get_fields('option')['title_contact']}</h3>
            <div class="items">
                {foreach get_fields('option')['location'] as $location}
                <div class="item formated-output inv">
                    <h4>{$location['location_name']}</h4>
                    {foreach $location['address'] as $address}
                    <p><strong>{$address['name']}</strong><br>
                        <a href="tel:{$address['phone']|noescape}" onclick="Tools.Tracking.track('footer/phone/' + {$address['phone']}, 'click')" >{$address['phone']|noescape}</a><br>
                        <a href="mailto:{$address['mail']|noescape}" onclick="Tools.Tracking.track('footer/email/' + {$address['mail']}, 'click')" >{$address['mail']|noescape}</a></p>
                    {/foreach}
                </div>
                {/foreach}
            </div>
        </div>

        {do_shortcode('[hf_form slug="contact"]')|noescape}

        {if 0}
        <form class="form-wrap">
            <div class="row">
                <div class="col-sm-6">
                    <div class="pb-3">
                        <input type="text" placeholder="Company name" class="el-field-text">
                    </div>
                    <div class="pb-3">
                        <input type="text" placeholder="Your name" class="el-field-text">
                    </div>
                    <div class="pb-3">
                        <input type="email" placeholder="Email" class="el-field-text">
                    </div>
                    <div class="pb-3 pb-sm-13">
                        <input type="phone" placeholder="Mobile number" class="el-field-text">
                    </div>
                    <div class="pb-3">
                        <p>Required area in sq ft:</p>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <input type="text" placeholder="From" class="el-field-text mb-3 mt-sm-0">
                        </div>
                        <div class="col-xs-6">
                            <input type="text" placeholder="To" class="el-field-text mb-3 mt-sm-0">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <textarea placeholder="Message" class="el-field-textarea"></textarea>
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="col-auto pt-6">
                    <button type="submit" class="el-field-submit">Submit</button>
                </div>
            </div>
        </form>
        {/if}
    </div>
</div>