{var $text = $options['cookie_text']}
{var $moreLink = $options['cookie_link_link']}
{var $moreText = $options['cookie_link_text']}
{var $btn = $options['cookie_button']}
{*{var $text = 'This site uses cookies to offer you a better browsing experience. By continuing to use this site, without changing your cookie settings, you agree to the use of cookies.'}*}
{*{var $moreLink = 'https://hbreavis.com/en/cookies/'}*}
{*{var $moreText = 'Read more'}*}
{*{var $btn = 'Accept'}*}
<div class="cookie-message js-cookies">
    <div class="cookie-message__inner">
        <div class="cookie-message__left">{$text|noescape}</div>
        <div class="cookie-message__right">
            <div>
                <a href="{$moreLink|noescape}" target="_blank">{$moreText|noescape}</a>
            </div>
            <div>
                <button class="cookie-message__button js-cookies__agree">{$btn|noescape}</button>
            </div>
        </div>
    </div>
</div>