<!-- Facebook JS SDK -->
<div id="fb-root"></div>
<script n:if="!empty($options->facebook_app_id)" >
  window.fbAsyncInit = function() {
    FB.init({
        appId      : {$options->facebook_app_id},
        xfbml      : true,
        status     : true,
        cookie     : true,
        version    : {$facebook['version']}
    });

    // trigger load event
    document.documentElement.className += ' facebook';
    if (typeof jQuery !== 'undefined'){
        jQuery(window).trigger('facebook');
    }
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) { return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/" + {if isset($facebook['locale'])}{$facebook['locale']}{else}'en_US'{/if} + "/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<!-- /Facebook JS SDK -->