<footer id="footer">
    <div class="inner">
        <div class="inner-wrap">
            <div class="hb-reavis">
                <span class="text">A new development by</span>
                <a href="https://hbreavis.com/en/" target="_blank" class="logo"><img src="{$themePath}/public/i/logo-hbreavis.svg" alt=""></a>
            </div>
            <div class="copyright">
                <a href="{get_fields('option')['s_download_link']['url']}" target="{get_fields('option')['s_download_link']['target']}">Privacy notice</a>
                <span> | </span>
                <a href="{get_fields('option')['cookies_link']['url']}" target="{get_fields('option')['cookies_link']['target']}">Cookies</a>
                <span> | </span>
                <a href="{get_fields('option')['privacy_link']['url']}" target="{get_fields('option')['privacy_link']['target']}">{get_fields('option')['privacy_link']['title']}</a>
                <span> | </span>
                <a class="optanon-show-settings">Cookie Settings</a>
                <span> | </span>
                &copy; 2018 – 20 FARRINGDON STREET

            </div>
        </div>
        <div class="dislacimer-wrap">
            <div class="dislacimer">{get_fields('option')['footer_disclamer']}</div>
        </div>
    </div>
</footer>