<header id="header">
    <div class="inner">
        <div class="header-panel">
            <div class="logo-wrap">
                <a href="/" class="logo"><img src="{$themePath}/public/i/logo-h.svg" alt="logo" class="logo-mobil"><img src="{$themePath}/public/i/logo-v.svg" alt="logo" class="logo-desktop"></a>
            </div>
            <div class="social-wrap">
                <a target="_blank" href="{get_fields('option')['link_facebook']}"><i class="icon-facebook"></i></a>
                <a target="_blank" href="{get_fields('option')['link_linkedin']}"><i class="icon-linkedin-in"></i></a>
                <a target="_blank" href="{get_fields('option')['link_twitter']}"><i class="icon-twitter"></i></a>
                <a target="_blank" href="{get_fields('option')['link_instagram']}"><i class="icon-instagram"></i></a>
            </div>
        </div>
        <a class="toggle-nav"><span class="burger"></span></a>
        <nav class="main-nav">

{*            {wp_nav_menu([
                'menu' => 'primary-menu',
                'container' => false,
                'menu_class' => 'inner-nav-menu',
            ])|noescape}*}

            <a n:href="home" class="item">HOME</a>
            <a n:href="location" class="item">LOCATION</a>
            <a n:href="building" class="item">BUILDING</a>
            <a n:href="explore" class="item">EXPLORE</a>
            <a n:href="contact" class="item">CONTACT</a>
            <span n:if="0" class="spacer"></span>
            <a n:if="0" href="{link contact}#download" class="item">DOWNLOAD</a>
            <span class="social">
                <a target="_blank" href="{get_fields('option')['link_facebook']}"><i class="icon-facebook"></i></a>
                <a target="_blank" href="{get_fields('option')['link_linkedin']}"><i class="icon-linkedin-in"></i></a>
                <a target="_blank" href="{get_fields('option')['link_twitter']}"><i class="icon-twitter"></i></a>
                <a target="_blank" href="{get_fields('option')['link_instagram']}"><i class="icon-instagram"></i></a>
            </span>
        </nav>
    </div>
</header>
<div id="header-placeholder"></div>