.cookie-message{
    $gutter: 15;
    @include position(fixed,0 0 null 0);
    z-index: 1000;
    display: flex;
    align-items: center;
    padding: px($gutter) 0;
    opacity: 0;
    background-color: $color-bg;
    pointer-events: none;
    transition: opacity 250ms ease-out;
    &.active{
        opacity: 1;
        pointer-events: auto;
    }
    &__inner{
        @include make-container;
        @include make-container-max-widths();
        @include font-regular;
        position: relative;
        z-index: 5;
        line-height: ($line-height)+unquote('em');
        font-size: px($font-size-smaller);
        color: $color-text-primary;
    }
    &__left{
        text-align: right;
        margin-right: px($gutter * 2);
    }
    &__right{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: px(-$gutter);
        > *{
            padding: px($gutter);
        }
        a {
            @include font-special;
            font-size: px($font-size-base);
            color: $color-text-gray;
            white-space: nowrap;
            transition: color $transition-time $transition-fx;
            &:hover{
                color: $color-primary-hover;
            }
            &:active{
                color: $color-primary-active;
            }
        }
    }
    &__button{
        height: auto;
        display: block;
        padding: 0;
        margin: 0;
        border: none;
        border-radius: 0;
        @include font-special;
        font-size: px($font-size-base);
        color: $color-text-secondary;
        cursor: pointer;
        white-space: nowrap;
        background-color: transparent;
        transition: color $transition-time $transition-fx;
        &:hover{
            color: $color-primary-hover;
        }
        &:active{
            color: $color-primary-active;
        }
    }
    @include media-breakpoint-up(md){
        height: px(70);
        &__inner{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    @include media-breakpoint-down(sm){
        &__left{
            text-align: center;
            margin-bottom: px($gutter);
        }
    }
}



//html.has-cookie-bar.cookie-bar-top-bar {
//    margin-top: 0 !important;
//    #catapult-cookie-bar {
//        display: block;
//    }
//}
//#catapult-cookie-bar{
//    display: none;
//    position: fixed !important;
//    opacity: 1 !important;
//    overflow: initial !important;
//    left: 0 !important;
//    bottom: auto !important;
//    top: 0;
//    right: 0;
//    width: 100% !important;
//    max-height: 100% !important;
//    padding: 0 !important;
//    background-color: $color-bg !important;
//
//    .ctcc-inner{
//        position: relative;
//        z-index: 5;
//        line-height: ($line-height)+unquote('em');
//        @include font-regular;
//        font-size: px($font-size-smaller);
//        color: $color-text-primary;
//        @include make-container;
//        @include make-container-max-widths();
//    }
//    .ctcc-left-side {
//        a {
//            @include font-special;
//            font-size: px($font-size-base);
//            color: $color-text-gray;
//            transition: color $transition-time $transition-fx;
//            &:hover{
//                color: $color-primary-hover;
//            }
//            &:active{
//                color: $color-primary-active;
//            }
//        }
//    }
//    .ctcc-right-side{
//        position: relative;
//        button#catapultCookie{
//            height: auto;
//            display: block;
//            padding: 0 !important;
//            margin: 0 !important;
//            border: none;
//            border-radius: 0 !important;
//            @include font-special;
//            font-size: px($font-size-base);
//            color: $color-text-secondary;
//            cursor: pointer;
//            background-color: transparent;
//            transition: color $transition-time $transition-fx;
//            &:hover{
//                color: $color-primary-hover;
//            }
//            &:active{
//                color: $color-primary-active;
//            }
//        }
//    }
//    @include media-breakpoint-up(md){
//        .ctcc-inner{
//            display: flex;
//            justify-content: flex-end;
//            align-items: center;
//        }
//        .ctcc-left-side {
//            position: relative;
//            padding: px(8) px(160) px(8) 0;
//            text-align: right;
//            a {
//                @include position(absolute,50% px(30) null null);
//                transform: translateY(-50%);
//            }
//        }
//        .ctcc-right-side{
//            height: px(70);
//            button#catapultCookie{
//                @include position(relative,50% null null null);
//                transform: translateY(-50%);
//            }
//        }
//    }
//    @include media-breakpoint-down(sm){
//        .ctcc-inner{
//                > *{
//                    display: block;
//                    width: 100%;
//                    text-align: center;
//                }
//                .ctcc-left-side {
//                    position: static;
//                    padding: px(15) px(10) px(60) px(10);
//                    a {
//                        @include position(absolute,null null 0 50%);
//                        transform: translateX(-100%);
//                        height: px(50);
//                        line-height: px(50);
//                        display: block;
//                        z-index: 10;
//                    }
//                }
//                .ctcc-right-side {
//                    button#catapultCookie {
//                        @include position(absolute,null null 0 50%);
//                        transform: translateX(100%);
//                        height: px(50);
//                        line-height: px(50);
//                    }
//                }
//            }
//    }
//}