//-------------------------------------------------------------
//Bootstrap - init
//-------------------------------------------------------------

@at-root {
  @-ms-viewport { width: device-width; } // stylelint-disable-line at-rule-no-vendor-prefix
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// Grid mixins
@import "../../../../bower_components/bootstrap/scss/mixins/breakpoints";
@import "../../../../bower_components/bootstrap/scss/mixins/grid-framework";
@import "../../../../bower_components/bootstrap/scss/mixins/grid";
@import "../../../../bower_components/bootstrap/scss/grid";
@import "../../../../bower_components/bootstrap/scss/utilities/flex";

// Others
@import "../../../../bower_components/bootstrap/scss/utilities/spacing";
@import "../../../../bower_components/bootstrap/scss/utilities/display";
//@import "../../../../bower_components/bootstrap/scss/nav";

// Custom styles
.table-responsive {
  @each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($next, $grid-breakpoints);

    &#{$infix} {
      @include media-breakpoint-down($breakpoint) {
        display: block;
        width: 100%;
        max-width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar; // See https://github.com/twbs/bootstrap/pull/10057
      }
    }
  }
}

// Custom mixins
@mixin bootstrap-grid-gutter($size){
  margin-right: px($size);
  margin-left: px($size);

  > .col,
  > [class*="col-"] {
    padding-right: px($size);
    padding-left: px($size);
  }
}