@font-face {
    font-family: 'MFred';
    src: url('#{$fonts-url}MFred.eot');
    src: url('#{$fonts-url}MFred.eot') format('embedded-opentype'),
    url('#{$fonts-url}MFred.woff2') format('woff2'),
    url('#{$fonts-url}MFred.woff') format('woff'),
    url('#{$fonts-url}MFred.ttf') format('truetype'),
    url('#{$fonts-url}MFred.svg#MFred') format('svg');
}