@function px($val) {
    @return round($val) * 1px;
}
@function str-replace($string, $search, $replace: '') {
    $index: str-index($string, $search);

    @if $index {
        @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }

    @return $string;
}
@function grid-breakpoint($key: "xxl") {
    @return map-get($grid-breakpoints, $key);
}
@function container-width($key: "xl") {
    @return map-get($container-max-widths, $key);
}
@function sqrt($r) {
    $x0: 1;
    $x1: $x0;

    @for $i from 1 through 10 {
        $x1: $x0 - ($x0 * $x0 - abs($r)) / (2 * $x0);
        $x0: $x1;
    }

    @return $x1;
}