@font-face {
    font-family: 'icomoon';
    src:  url('#{$fonts-url}icomoon.eot?e0k9ug');
    src:  url('#{$fonts-url}icomoon.eot?e0k9ug#iefix') format('embedded-opentype'),
    url('#{$fonts-url}icomoon.ttf?e0k9ug') format('truetype'),
    url('#{$fonts-url}icomoon.woff?e0k9ug') format('woff'),
    url('#{$fonts-url}icomoon.svg?e0k9ug#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
    @include icomoon;
}
.icon-facebook-f:before {
    content: "\e900";
}
.icon-twitter:before {
    content: "\e901";
}
.icon-linkedin-in:before {
    content: "\e902";
}
.icon-arrow:before {
    content: "\e903";
}
.icon-facebook:before {
    content: "\e904";
}
.icon-instagram:before {
    content: "\e905";
}
.icon-chevron-down:before {
    content: "\e906";
}