@mixin font-regular{
  font-family: "Calluna",sans-serif;
  font-weight: 300;
}
@mixin font-bold{
  font-family: "Calluna",sans-serif;
  font-weight: 600;
}
@mixin font-special{
  font-family: 'MFred', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.167em;
}
@mixin list-reset{
  display: block;
  padding: 0;
  margin: 0;
  li{
    display: inline-block;
    padding: 0;
    margin: 0;
    list-style: none;
    background-image: none;
  }
}
@mixin css-reset{
  *{
    box-sizing: border-box;
    &:focus{
      outline: none;
    }
  }
  body, html{
    line-height: normal;
    height: 100%;
    padding: 0;
    margin: 0;
    @include font-regular;
  }
  img{
    border: 0;
    user-select: none;
  }
  strong{
    @include font-bold;
  }
  a{
    color: $color-text-secondary;
    text-decoration: none;
    &:focus{
      outline: none;
    }
    &:hover{}
  }
  button{}
  sup, sub{
    font-size: 70%;
  }
  p{
    padding: 0;
    margin: 0;
  }
  table{
    width: 100%;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
  }
  table td,
  table th{
    padding: 0;
    vertical-align: top;
  }
  tbody,
  th{
    border: none;
  }
  th{
    font-weight: normal;
  }
  form, dl, dd, dt{
    padding: 0;
    margin: 0;
    list-style: none;
  }
  ul, ol{
    margin-top: 0;
    margin-bottom: 0;
  }
  ul{
    list-style-type: square;
  }
  h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
    line-height: normal;
    font-size: 1em;
    font-weight: normal;
  }
  h1, h1 a, h1 a:hover,
  h2, h2 a, h2 a:hover,
  h3, h3 a, h3 a:hover,
  h4, h4 a, h4 a:hover,
  h5, h5 a, h5 a:hover,
  h6, h6 a, h6 a:hover{
    text-decoration: none;
  }
  a,
  input,
  button,
  img,
  div{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
  }
}
@mixin icomoon{
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@mixin img-responsive{
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  display: block;
}
@mixin iframe-responsive($ratio:56.25%){
  position: relative;
  padding-bottom: $ratio;
  height: 0;
  overflow: hidden;
  iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
@mixin h1{
  line-height: 1em;
  font-size: px(96);
  @include font-special;
  letter-spacing: 0.027em;
  @include media-breakpoint-down(lg){
    font-size: px(80);
  }
  @include media-breakpoint-down(md){
    font-size: px(60);
  }
  @include media-breakpoint-down(sm){
    font-size: px(40);
  }
}
@mixin h2{
  line-height: 1.04em;
  font-size: px(54);
  @include font-special;
  letter-spacing: 0.037em;
  @include media-breakpoint-down(sm){
    font-size: px(32);
  }
}
@mixin h3{
  line-height: 1.067em;
  font-size: px(30);
  @include font-special;
  letter-spacing: 0.053em;
  @include media-breakpoint-down(sm){
    font-size: px(22);
  }
}
@mixin h4{
  line-height: 1.091em;
  font-size: px(22);
  @include font-special;
  letter-spacing: 0.064em;
  @include media-breakpoint-down(sm){
    font-size: px(18);
  }
}
@mixin section-space-v{
  padding-top: px($section-space-v);
  padding-bottom: px($section-space-v);
  @include media-breakpoint-down(sm){
    padding-top: px($section-space-v-sm);
    padding-bottom: px($section-space-v-sm);
  }
}
@mixin bg-lines($opacity:$bg-lines-opacity){
  @include media-breakpoint-up(md){
    position: relative;
    > [class*=bg-line-]{
      @include position(absolute,0 null 0 null);
      transform: translateX(px(-1));
      z-index: 1;
      width: px(1);
      display: block;
      background-color: rgba($color-black,$opacity);
    }
    > *{
      position: relative;
      z-index: 2;
    }
    @for $i from 1 through $grid-columns{
      .bg-line-#{$i}{
        left: ($i * (100% / $grid-columns));
      }
    }
  }
}
@mixin formated-output(){
  $bottom-space: 25;
  h2{
    @include h2;
  }
  h3{
    @include h3;
  }
  h4{
    @include h4;
  }
  h4, p{
    &:not(:last-child){
      margin-bottom: px($bottom-space);
    }
  }
  a{
    transition: color $transition-time $transition-fx;
    &:hover{
      color: $color-primary-hover;
    }
    &:active{
      color: $color-primary-active;
    }
  }
  ul,ol{
    &:not(:last-child){
      margin-bottom: px($bottom-space);
    }
    ul,ol{
     margin-bottom: 0 !important;
    }
  }
  .inv &,
  &.inv{
    color: $color-white;
    h4{
      color: rgba($color-text-primary,.46);
    }
  }
}