$cookie-settings-color: #fff;

body{
	.optanon-alert-box-wrapper{
		.banner-content{
			.banner-policy-link{
				color: inherit;
			}
		}
		.optanon-button-more{
			.optanon-alert-box-button-middle{
				button{
					color: $cookie-settings-color !important;
					border-bottom: none;
					&:before{
						color: $cookie-settings-color;
					}
				}
			}
		}
	}
	#optanon,
	#optanon *,
	#optanon div,
	#optanon span,
	#optanon ul,
	#optanon li,
	#optanon a,
	#optanon p,
	.optanon-alert-box-wrapper *{
		font-family: inherit !important;
	}
	#optanon{
		.preference-menu-item{
			button{
				font-weight: normal !important;
			}
		}
		#optanon-popup-wrapper{
			.optanon-bottom-spacer{
				height: 0;
			}
		}
		#optanon-popup-bottom-logo{
			display: none;
		}
		#optanon-menu{
			li{
				&:last-child{
					border-bottom: none;
				}
			}
		}
	}
	@media only screen and (max-width: 47em){
		.optanon-alert-box-wrapper{
			.optanon-alert-box-body{
				margin-bottom: 20px;
			}
		}
		#optanon{
			#optanon-popup-body-left{
				float: none;
			}
		}
	}
	.legacy-preference-banner-title{
		/*color: #fff !important;*/
	}
}

.copyright .optanon-show-settings-popup-wrapper{
	display: inline-block;
	height: inherit;
	&,
	& *,
	& div,
	& span,
	& ul,
	& li,
	& a,
	& p,
	& ul,
	& li,
	& a,
	& span {
		border: inherit;
		bottom: inherit;
		clear: inherit;
		float: inherit;
		letter-spacing: inherit;
		line-height: inherit;
		max-height: 100%;
		max-width: 100%;
		min-width: 0;
		overflow: inherit;
		text-align: inherit;
		text-decoration: inherit;
		text-indent: 0;
		text-transform: inherit;
		top: auto;
		visibility: inherit;
		white-space: inherit;
		width: auto;
		padding: 0;
		margin: 0 0 0 0;
		border-radius: 0;
		font-family: inherit;
		font-size: inherit;
		&:hover {
			color: inherit !important;
			text-decoration: inherit !important;
		}
	}
	img {
		width: inherit;
		height: inherit;
	}
	.optanon-show-settings-button {
		cursor: hand;
		cursor: pointer
	}
	.optanon-show-settings-middle{
		background: inherit !important;
		border-top: inherit;
		border-bottom: inherit;
		background: inherit;
		float: inherit;
		height: inherit !important;
		padding-top: inherit;
		a.optanon-show-settings{
			color: inherit !important;
			font-weight: inherit;
			margin-top: inherit !important;
			float: inherit !important;
			font-size: inherit;
			text-decoration: inherit !important;
			&:hover {
				color: inherit !important;
				text-decoration: inherit !important;
			}
		}
	}
	.optanon-show-settings-left,
	.optanon-show-settings-right{
		display: none !important;
	}
}