//=============================================================================
// GENERAL & RESET
//========================================================================== */
@include css-reset;
//=============================================================================
// COMMON
//=============================================================================
@keyframes animation-popup-appear{
    0%{
        transform: scale(0.65) translate(-50%, -50%);
        transform-origin: 0% 0%;
    }
    100% {
        transform: scale(1) translate(-50%, -50%);
        transform-origin: 0% 0%;
    }
}
img{
    @include img-responsive;
}
*[data-link]{
    cursor: pointer;
}
[class*=btn-]{
    transition: background $transition-time $transition-fx;
    height: px(70);
    line-height: px(70);
    display: block;
    padding-left: px(50);
    padding-right: px(50);
    border: none;
    @include font-bold();
    font-size: px($font-size-small);
    color: $color-white;
    text-align: center;
    text-transform: uppercase;
    background-color: $color-primary;
    cursor: pointer;
    i{
        font-size: px($font-size-small * .8);
    }
    &:hover{
        background-color: rgba($color-primary,.8);
    }
}
.field-text{
    label{
        display: block;
        padding-bottom: px(10);
        @include font-special;
        font-size: px(15);
    }
    input{
        transition: $transition;
        width: 100%;
        max-width: 100%;
        height: px(50);
        display: block;
        padding: 0 px(15);
        border: px(1) solid rgba($color-text-primary,.4);
        @include font-regular;
        font-size: px($font-size-base);
        background-color: transparent;
        &:hover,
        &:focus{
            border-color: $color-primary;
            background-color: $color-white;
        }
    }
}
.field-check{
    $size: 20;
    input{
        display: none;
        &+label{
            position: relative;
            display: block;
            min-height: px($size);
            padding-left: px($size + 10);
            &:before{
                @include position(absolute,0 null null 0);
                transform: translateY(10%);
                content: '';
                width: px($size);
                height: px($size);
                display: block;
                border: px(1) solid rgba($color-text-primary,.4);
                background: no-repeat center center;
                background-size: 70%;
            }
        }
        &:checked+label:before{
            background-image: url('#{$images-url}form-check.svg');
        }
    }
}
.formated-output{
    @include formated-output();
}
.slick-slider{
    .slick-dots{
        $size: 16;
        $color: $color-white;
        @include position(absolute,null null px(14) px(25));
        @include list-reset;
        li{
            line-height: 1em;
            font-size: 0;
            a{
                position: relative;
                width: px($size);
                height: px($size);
                display: block;
                cursor: pointer;
                background: url('#{$images-url}slick-dot.svg') no-repeat center center;
                background-size: contain;
            }
            &:not(:last-child){
                margin-right: px(8);
            }
            &.slick-active a{
                background-image: url('#{$images-url}slick-dot-active.svg');
            }
        }
    }
}
.tab-content {
    > .tab-pane {
        display: none;
    }
    > .active {
        display: block;
    }
}
.collapse {
    &:not(.show) {
        display: none;
    }
}
.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: height .35s ease;
}
.map-embed {
    height: 100%;
    z-index: 99;
    width: 100%;
    img { max-width: inherit; max-height: inherit; }
}
.map-inner > .map-embed {
    height: 100%;
    z-index: 99;
    width: 100%;
    img { max-width: inherit; max-height: inherit; }
    padding-top: 71.5%;
}
.hc-text-small{
    line-height: $line-height+unquote('em');
    font-size: px($font-size-small) !important;
}
.el-btn{
    $height: 56;
    $height-sm: 42;
    min-width: px(180);
    height: px($height);
    line-height: px($height);
    display: inline-block;
    padding: 0 px(15);
    border: none;
    @include font-special;
    font-size: px($font-size-base);
    color: $color-white;
    text-align: center;
    background-color: $color-primary;
    transition: background-color $transition-time $transition-fx;
    cursor: pointer;
    &:hover{
        background-color: $color-primary-hover;
    }
    &:active{
        background-color: $color-primary-active;
    }
    @include media-breakpoint-down(sm){
        min-width: px(140);
        height: px($height-sm);
        line-height: px($height-sm);
    }
}
.el-section-title{
    @include h2;
    color: $color-text-secondary;
}
.el-readmore{
    position: relative;
    display: inline-block;
    line-height: 1.333em;
    padding-right: 1.4em;
    @include font-special;
    transition: $transition;
    &:after{
        @include icomoon;
        @include position(absolute,0 0 null null);
        transition: $transition;
        content: "\e903";
        line-height: 1.333em;
    }
    &:hover{
        color: $color-primary-hover;
        &:after{
            transform: translate3d(10%,0,0);
        }
    }
    &:active{
        color: $color-primary-active;
        &:after{
            transform: translate3d(10%,0,0);
        }
    }
}
.el-field-text,
.el-field-textarea{
    width: 100%;
    max-width: 100%;
    display: block;
    padding: 0 px(15);
    border: none;
    border-radius: 0;
    @include font-regular;
    font-size: px($font-size-small);
    background-color: $color-gray-light;
    transition: $transition;
    &::placeholder{
        color: rgba($color-text-primary,.46);
    }
    &:focus{
        background-color: $color-white;
    }
}
.el-field-aih{
    // Honeypot Am I Human? field
    display: none;
}
.el-field-text{
    height: px(56);
    line-height: px(56);
}
.el-field-textarea{
    padding: px(15);
    min-height: px(200);
}
.el-field-submit{
    $height: 56;
    appearance: none;
    min-width: px(200);
    height: px($height);
    line-height: px($height);
    display: inline-block;
    padding: 0 px(15);
    border: none;
    border-radius: 0;
    @include font-special;
    font-size: px($font-size-base);
    color: $color-white;
    text-align: center;
    background-color: $color-primary;
    cursor: pointer;
    transition: background-color $transition-time $transition-fx;
    &:hover{
        background-color: $color-primary-hover;
    }
    &:active{
        background-color: $color-primary-active;
    }
}
//=============================================================================
// LAYOUT
//=============================================================================
body{
    line-height: ($line-height)+unquote('em');
    @include font-regular;
    font-size: px($font-size-base);
    color: $color-text-primary;
    background-color: $color-bg;
}
#page{
    background-color: $color-bg-main;
    overflow: hidden;
}
#main{
    background-color: $color-bg-main;
    overflow: hidden;
}
#header{
    @include position(absolute,0 0 null 0);
    z-index: 100;
    *{
        color: $color-white;
    }
    @include media-breakpoint-up(md){
        body:not(.fixed-nav-active) &{
            > .inner{
                height: px($header-height);
                padding: 0 $grid-gutter-width;
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }
            .header-panel{
                @include position(absolute,0 null null 0);
                width: px($header-panel-width);
                height: px($section-top-height);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                background-color: $color-primary;
                .logo-wrap{
                    margin-top: px(52);
                    .logo{
                        display: block;
                        max-width: px(40);
                        .logo-mobil{
                            display: none;
                        }
                    }
                }
                .social-wrap{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding-bottom: px(32);
                    a{
                        transition: opacity $transition-time $transition-fx;
                        opacity: .26;
                        padding: px(5);
                        i{
                            font-size: px(22);
                            color: $color-gray-dark;
                        }
                        &:not(:first-child){
                            margin-top: px(8);
                        }
                        &:hover{
                            opacity: 1;
                        }
                    }
                }
            }
            .toggle-nav{
                display: none;
            }
            .main-nav{
                font-size: 0;
                > *{
                    display: inline-block;
                    vertical-align: middle;
                    &:not(:last-child){
                        margin-right: px(45);
                    }
                }
                > .spacer{
                    width: px(1);
                    height: px(40);
                    background-color: $color-primary;
                }
                > .item{
                    transition: color $transition-time $transition-fx;
                    @include font-special;
                    font-size: px($font-size-small);
                    letter-spacing: 0.175em;
                    &:hover{
                        color: $color-primary-hover;
                    }
                    &.active{
                        color: $color-primary;
                    }
                }
                > .social{
                    display: none;
                }
            }
        }
        body.fixed-nav-active &{
            position: fixed;
            background-color: $color-primary;
            > .inner{
                display: flex;
                justify-content: space-between;
                padding: px(10) ($grid-gutter-width / 2);
            }
            .header-panel{
                .logo-wrap{
                    .logo{
                        .logo-desktop{
                            display: none;
                        }
                    }
                }
                .social-wrap{
                    display: none;
                }
            }
            .toggle-nav{
                transform: translateX(px(5));
                width: px(45);
                display: block;
                padding: px(5);
                cursor: pointer;
                .burger{
                    @include burger(px(35),px(4),px(6),$color-white,0,$transition-time);
                    .nav-active &{
                        @include burger-to-cross();
                    }
                }
            }
            .main-nav{
                @include position(absolute,100% 0 null null);
                display: none;
                width: px(200);
                padding-bottom: px(14);
                background-color: $color-primary;
                > .item{
                    display: block;
                    padding: px(8) px(15);
                    @include h4;
                    text-align: right;
                }
                > .social{
                    padding: px(8) px(15);
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    a{
                        transition: opacity $transition-time $transition-fx;
                        opacity: .7;
                        padding: px(5);
                        &:not(:last-child){
                            margin-right: px(8);
                        }
                        i{
                            font-size: px(18);
                            color: $color-gray-dark;
                        }
                        &:hover{
                            opacity: 1;
                        }
                    }
                }
            }
        }
        body.fixed-nav-active.nav-active &{
            .main-nav{
                display: block;
            }
        }
    }
    @include media-breakpoint-only(md) {
        body:not(.fixed-nav-active) & {
            .header-panel {
                height: px($section-top-height-md);
            }
            .main-nav{
                > *{
                    &:not(:last-child){
                        margin-right: px(32);
                    }
                }
            }
        }
    }
    @include media-breakpoint-down(sm){
        position: fixed;
        background-color: $color-primary;
        > .inner{
            display: flex;
            justify-content: space-between;
            padding: px(10) ($grid-gutter-width / 2);
        }
        .header-panel{
            .logo-wrap{
                .logo{
                    .logo-desktop{
                        display: none;
                    }
                }
            }
            .social-wrap{
                display: none;
            }
        }
        .toggle-nav{
            transform: translateX(px(5));
            width: px(45);
            display: block;
            padding: px(5);
            cursor: pointer;
            .burger{
                @include burger(px(35),px(4),px(6),$color-white,0,$transition-time);
                .nav-active &{
                    @include burger-to-cross();
                }
            }
        }
        .main-nav{
            @include position(absolute,100% 0 null null);
            display: none;
            width: px(200);
            padding-bottom: px(14);
            background-color: $color-primary;
            > .item{
                display: block;
                padding: px(8) px(15);
                @include h4;
                text-align: right;
            }
            > .social{
                padding: px(8) px(15);
                display: flex;
                align-items: center;
                justify-content: flex-end;
                a{
                    transition: opacity $transition-time $transition-fx;
                    opacity: .7;
                    padding: px(5);
                    &:not(:last-child){
                        margin-right: px(8);
                    }
                    i{
                        font-size: px(18);
                        color: $color-gray-dark;
                    }
                    &:hover{
                        opacity: 1;
                    }
                }
            }
            .nav-active &{
                display: block;
            }
        }
    }
}
#header-placeholder{
    display: none;
    @include media-breakpoint-down(sm){
        display: block;
    }
}
#footer{
    position: relative;
    *{
        font-size: px($font-size-smaller);
        color: rgba($color-text-primary,.46);
    }
    .dislacimer-wrap{
        text-align: center;
        .dislacimer{
            line-height: normal;
            font-size: .7rem;
        }
    }
    @include media-breakpoint-up(md){
        padding-top: px(65);
        padding-bottom: px(65);
        > .inner{
            @include make-container();
            @include make-container-max-widths();
            > .inner-wrap{
                @include make-row();
                align-items: center;
                > *{
                    @include make-col-ready();
                    &.hb-reavis{
                        @include make-col(6);
                    }
                    &.copyright{
                        @include make-col(6);
                        text-align: right;
                    }
                }
            }
            > .dislacimer-wrap{
                padding-top: px(50);
                @include make-row();
                .dislacimer{
                    @include make-col-ready();
                    @include make-col(12);
                }
            }
        }
    }
    @include media-breakpoint-down(sm){
        padding-top: px(30);
        padding-bottom: px(30);
        > .inner {
            > .inner-wrap {
                > * {
                    &:not(:last-child){
                        padding-bottom: px(20);
                    }
                    padding-left: ($grid-gutter-width / 2);
                    padding-right: ($grid-gutter-width / 2);
                }
            }
            > .dislacimer-wrap{
                padding-top: px(30);
                padding-left: ($grid-gutter-width / 2);
                padding-right: ($grid-gutter-width / 2);
            }
        }
    }
}
//=============================================================================
// SECTIONS
//=============================================================================
[class*=section-]{
    position: relative;
    .section-inner{
        @include make-container-max-widths();
        @include make-container();
    }
    .p3dview #main > &{
        &:nth-child(2){
            @include media-breakpoint-up(md) {
                background: url('#{$images-url}section-3dview-bg-3.svg') no-repeat center top;
                .section-inner {
                    padding-top: px(100) !important;
                }
            }
        }
    }
}
.section-common-content{
    .formated-output{
        h2, h3{
            padding-bottom: px(25);
        }
    }
    @include media-breakpoint-up(md){
        padding-top: px(120);
        padding-bottom: px(80);
        background: url('#{$images-url}section-common-content-1.svg') no-repeat center top, url('#{$images-url}section-common-content-2.svg') no-repeat center bottom;
    }
    @include media-breakpoint-down(sm){
        padding-top: px(50);
        padding-bottom: px(50);
    }
}
.section-top{
    $section-bg: $color-gray;
    position: relative;
    z-index: 2;
    background-color: $section-bg;
    [class*=section-]{
        position: static;
    }
    *{
        color: $color-white;
    }
    .text-wrap{
        .title{
            @include h1;
            display: inline-block;
            position: relative;
            margin-bottom: px(35);
            .t{
                position: relative;
                z-index: 1;
                background-color: $section-bg;
            }
        }
        .el-btn{
            margin-top: px(50);
        }
    }
    .image-wrap{
        .image{
            position: relative;
            display: block;
            background: no-repeat center center;
            background-size: cover;
        }
    }
    @include media-breakpoint-up(md){
        padding-left: px($header-panel-width);
        padding-right: px($header-panel-width);
        .section-wrap{
            height: px($section-top-height);
            padding-top: px($header-height);
            @include make-row();
        }
        .text-wrap {
            @include make-col-ready();
            @include make-col(5);
            padding-top: px(93);
        }
        .image-wrap {
            @include position(absolute, px($header-height) 0 null null);
            width: 50%;
        }
    }
    @include media-breakpoint-only(md){
        .section-wrap{
            height: px($section-top-height-md);
        }
        .text-wrap{
            @include make-col(7);
            padding-top: 0;
        }
        .image-wrap {
            width: 40%;
        }
    }
    @include media-breakpoint-down(sm){
        .text-wrap{
            padding-top: px(40) !important;
            padding-bottom: px(40);
        }
        .image-wrap {
            margin-left: (-($grid-gutter-width / 2));
            margin-right: (-($grid-gutter-width / 2));
        }
    }
    .front &{
        @include media-breakpoint-up(lg){
            background: $section-bg url('#{$images-url}section-top-bg.svg') no-repeat center top;
        }
        .image-wrap{
            .image{
                padding-bottom: px(800);
                &:before {
                    @include triangle('down-left', px(80), px(40), $color-bg-main);
                    @include position(absolute, null null 0 0);
                    transform: translate3d(px(-1),px(1),0);
                    content: '';
                }
                @include media-breakpoint-down(md){
                    padding-bottom: px(500);
                    &:before {
                        @include triangle('down-left', px(40), px(20), $color-bg-main);
                    }
                }
                @include media-breakpoint-down(sm){
                    padding-bottom: px(250);
                }
            }
        }
    }
    .p3dview &,
    .common-page &,
    .location &{
        @include media-breakpoint-up(lg){
            background: $section-bg url('#{$images-url}section-top-location.svg') no-repeat center bottom;
        }
        .image-wrap{
            .image{
                padding-bottom: px(570);
                &:before {
                    @include triangle('down-left', px(80), px(40), $section-bg);
                    @include position(absolute, null null 0 0);
                    transform: translate3d(px(-1),px(1),0);
                    content: '';
                }
                @include media-breakpoint-down(md){
                    padding-bottom: px(300);
                    &:before {
                        @include triangle('down-left', px(40), px(20), $section-bg);
                    }
                }
                @include media-breakpoint-down(sm){
                    padding-bottom: px(250);
                    &:before {
                        @include triangle('down-left', px(40), px(20), $color-bg-main);
                    }
                }
            }
            @include media-breakpoint-only(xl){
                width: 48%;
            }
            @include media-breakpoint-only(lg){
                width: 48%;
            }
            @include media-breakpoint-only(md){
                width: 38%;
            }
        }
        .text-wrap{
            @include media-breakpoint-down(xl){
                padding-top: 0;
            }
            @include media-breakpoint-only(xl){
                @include make-col(6);
            }
            @include media-breakpoint-only(lg){
                @include make-col(6);
            }
            @include media-breakpoint-only(md){
                @include make-col(8);
                padding-right: px(30) !important;
                p {
                    font-size: px(16);
                    line-height: px(24);
                    margin-bottom: 1.4em;
                }
            }
        }
    }
    .building &{
        @include media-breakpoint-up(lg){
            background: url('#{$images-url}section-top-building-1.svg') no-repeat center top,$section-bg url('#{$images-url}section-top-building-2.svg') no-repeat center bottom;
            background-position: 0% 0%, calc(50% + 92px) bottom;
        }
        @include media-breakpoint-up(xl){
            background-position: 0% 0%, calc(50% + 48px) bottom;
        }
        @include media-breakpoint-up(xxl){
            background-position: 0% 0%, calc(50% + 28px) bottom;
        }
        .image-wrap{
            .slider{
                &:before {
                    @include triangle('up-left', px(80), px(40), $section-bg);
                    @include position(absolute, 0 null null 0);
                    z-index: 20;
                    transform: translate3d(px(-1),px(-1),0);
                    content: '';
                }
                .image{
                    padding-bottom: px(800);
                }
                @include media-breakpoint-down(md){
                    &:before {
                        @include triangle('up-left', px(40), px(20), $section-bg);
                    }
                    .image{
                        padding-bottom: px(500);
                    }
                }
                @include media-breakpoint-down(sm){
                    .image{
                        padding-bottom: px(250);
                    }
                }
            }
        }
        .text-wrap{
            @include media-breakpoint-down(xl){
                padding-top: 0;
            }
            @include media-breakpoint-only(md){
                p {
                    font-size: px(16);
                    line-height: px(24);
                }
            }
        }
    }
    .page404 &{
        background: $section-bg url('#{$images-url}section-top-404.svg') no-repeat center top;
        .error-wrap{
            max-width: px(460);
            padding-top: px(25);
            margin: 0 auto;
            text-align: center;
            .title{
                @include h1;
                font-size: px(85);
                display: inline-block;
                position: relative;
                margin-bottom: px(25);
                .t{
                    position: relative;
                    z-index: 1;
                    background-color: $section-bg;
                }
            }
            .el-btn{
                margin-top: px(35);
            }
        }
        @include media-breakpoint-down(sm){
            padding-top: px(120);
            padding-bottom: px(100);
            background-image: url('#{$images-url}section-top-404-sm.svg');
            .error-wrap{
                padding-top: 0;
                .title{
                    margin-bottom: px(20);
                }
                .el-btn{
                    margin-top: px(25);
                }
            }
        }
    }
}
.section-text-left{
    .text-wrap{
        @include make-col-ready();
        .el-section-title{
            margin-bottom: px(40);
        }
        .el-readmore{
            margin-top: px(40);
        }
        @include media-breakpoint-up(md){
            @include make-col(6);
        }
        @include media-breakpoint-only(md){
            @include make-col(8);
        }
    }
}
.section-slider{
    $bg: $color-gray;
    .slider{
        .slider-item{
            position: relative;
            .image{
                width: 100%;
                display: block;
                padding-bottom: 47%;
                background: no-repeat center center;
                background-size: cover;
            }
            .description{
                @include position(absolute,null null px(18) px(260));
                @include h4;
                color: $color-white;
            }
        }
    }
    @include media-breakpoint-up(md){
        .p3dview &{
            padding-top: px(100);
        }
        .section-bg{
            position: relative;
            &:before{
                content: '';
                @include position(absolute,0 0 0 50%);
                display: block;
                background-color: $bg;
            }
        }
        .slider{
            z-index: 5;
            &:before{
                @include position(absolute,0 0 0 null);
                z-index: 5;
                content: '';
                width: px(65);
                display: block;
                background-color: $bg;
                mask: url('#{$images-url}mask-triangle-left-bottom.svg');
                mask-position: 0 100%;
                mask-repeat: no-repeat;
            }
        }
    }
    @include media-breakpoint-down(sm){
        .section-inner{
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
        .slider .slider-item{
            .image{
                padding-bottom: 70%;
            }
            .description{
                bottom: px(20);
            }
        }
    }
    @include media-breakpoint-down(xs){
        .slider{
            .slider-item{
                .description{
                    @include position(absolute,null null px(48) px(25));
                }
            }
        }
    }
}
.section-articles{
    .article-item{
        position: relative;
        .image{
            display: block;
            overflow: hidden;
            margin-bottom: px(35);
            img{
                transition: transform $transition-time $transition-fx;
            }
        }
        .title{
            @include h3;
            margin-bottom: px(25);
            a{
                transition: color $transition-time $transition-fx;
                &:active{
                    color: $color-primary-active;
                }
            }
        }
        .text{
            margin-bottom: px(35);
            font-size: px($font-size-small);
        }
        &:hover{
            .image img{
                transform: scale(1.05);
            }
            .title a,
            .el-readmore{
                color: $color-primary-hover;
            }
        }
    }
    @include media-breakpoint-up(md){
        padding-top: px(180);
        padding-bottom: px(70);
        background: url('#{$images-url}section-articles-bg.svg') no-repeat center top;
        .el-section-title{
            padding-bottom: px(150);
        }
        .articles [class^=col-]{
            &:nth-child(1){
                transform: translate3d(0,px(-160),0);
                .article-item .image:before {
                    @include triangle('up-left',4vw,2vw,$color-bg-main);
                    @include position(absolute,0 null null 0);
                    content: '';
                    z-index: 2;
                }
            }
            &:nth-child(2) {
                padding-bottom: px(60);
                transform: translate3d(0,px(60), 0);
            }
            &:nth-child(3){
                .article-item .image:before {
                    @include triangle('up-right',4vw,2vw,$color-bg-main);
                    @include position(absolute,0 0 null null);
                    content: '';
                    z-index: 2;
                }
            }
        }
    }
    @include media-breakpoint-down(sm){
        padding-top: px(50);
        padding-bottom: px(50);
        .el-section-title{
            padding-bottom: px(30);
        }
        .articles{
            flex-wrap: nowrap;
            overflow-x: auto;
        }
        .article-item{
            width: px(250);
            padding-bottom: px(30);
        }
    }
}
.section-location{
    $triangle-size: 3.2vw;
    .map-wrap{
        > .map-inner{
            &:before{
                @include triangle('up-left',$triangle-size,($triangle-size / 2),$color-bg-main);
                @include position(absolute,0 null null 0);
                content: '';
                z-index: 3;
            }
        }
    }
    .opt-wrap{
        line-height: 1em;
        font-size: 0;
        .item{
            position: relative;
            display: inline-block;
            cursor: pointer;
            overflow: hidden;
            &:before{
                @include position(absolute,0 0 0 0);
                transition: opacity $transition-time $transition-fx;
                z-index: 1;
                content: '';
                display: block;
                opacity: .54;
                background: $color-gray-dark;
            }
            img{
                transition: transform $transition-time $transition-fx;
            }
            .t{
                @include position(absolute,50% 0 null 0);
                transform: translate3d(0,-50%,0);
                transition: color $transition-time $transition-fx;
                z-index: 2;
                @include h4;
                color: $color-white;
                text-align: center;
            }
            &:hover{
                &:before{
                    opacity: .2;
                }
                img{
                    transform: scale(1.05);
                }
            }
        }
    }
    @include media-breakpoint-up(md) {
        padding-bottom: px(100);
        background: url('#{$images-url}section-location-bg.svg') no-repeat center bottom;
        .opt-wrap{
            .item{
                &:not(:first-child){
                    margin-top: px(30);
                }
                &:nth-child(1){
                    &:after{
                        @include triangle('up-left',$triangle-size,($triangle-size / 2),$color-bg-main);
                        @include position(absolute,0 null null 0);
                        content: '';
                        z-index: 3;
                    }
                }
            }
        }
    }
    @include media-breakpoint-up(xxl) {
        min-height: px(800);
    }
    @include media-breakpoint-down(md){
        background: none;
        padding-top: px(100);
        padding-bottom: px(60);
    }
    @include media-breakpoint-between(xs,sm){
        .opt-wrap{
            display: flex;
            .item{
                width: 50%;
                margin-top: ($grid-gutter-width / 2);
                &:nth-child(1){
                    margin-right: ($grid-gutter-width / 4);
                }
                &:nth-child(2){
                    margin-left: ($grid-gutter-width / 4);
                }
            }
        }
    }
    @include media-breakpoint-down(us){
        .opt-wrap{
            .item{
                margin-top: ($grid-gutter-width / 2);
            }
        }
    }
}
.section-contact{
    overflow: hidden;
    position: relative;
    background: $color-gray url('#{$images-url}section-contact-bg.svg') no-repeat center top;
    &, & a{
        color: $color-white;
    }
    .section-inner{
        > .contacts-wrap{
            align-self: flex-start;
            > .title{
                @include h4;
            }
            .item{
                padding-top: px(55);
            }
        }
        > .hf-form-29{
            .el-field-textarea{
                position: relative;
                height: 100%;
            }
        }
    }
    @include media-breakpoint-up(xl){
        padding-top: px(65);
        padding-bottom: px(65);
        .section-bg{
            @include position(absolute,0 50% 0 0);
            @include transform(translateX(px(-200)));
            background-color: $color-primary;
            &:before{
                @include position(absolute,0 0 0 0);
                z-index: 1;
                opacity: .08;
                content: '';
                display: block;
                background: url('#{$images-url}img01.png') no-repeat center center;
                background-size: cover;
            }
            &:after{
                @include triangle('down-right',px(60),px(30), $color-gray);
                @include position(absolute,null 0 0 null);
                z-index: 2;
                content: '';
            }
        }
        .section-inner{
            display: flex;
            justify-content: space-between;
            align-items: center;
            > .contacts-wrap{
                width: px(280);
            }
            > .hf-form-29{
                width: 60%;
            }
        }
    }
    @include media-breakpoint-down(lg){
        .section-inner{
            > .contacts-wrap{
                position: relative;
                background-color: $color-primary;
                margin: 0 (-$grid-gutter-width / 2);
                padding: px(60) ($grid-gutter-width / 2);
                &:before{
                    @include position(absolute,0 0 0 0);
                    z-index: 1;
                    opacity: .08;
                    content: '';
                    display: block;
                    background: url('#{$images-url}img01.png') no-repeat center center;
                    background-size: cover;
                }
                .title{
                    position: relative;
                    z-index: 2;
                }
                .items{
                    display: flex;
                    flex-wrap: wrap;
                    position: relative;
                    z-index: 2;
                    .item{
                        flex: 1;
                        padding-right: px(50);
                    }
                }
            }
            > .hf-form-29{
                padding-top: px(60);
                padding-bottom: px(60);
            }
        }
    }
    @include media-breakpoint-down(sm){
        .section-inner > .contacts-wrap .items{
            display: block;
            .item{
                width: 100%;
                padding-right: 0;
            }
        }
    }
    @include media-breakpoint-down(xs){
        .contact-input-group{
            margin-bottom: px(15);
        }
    }
}
.section-front-intro{
    position: relative;
    z-index: 1;
    padding-top: px(190);
    background: url('#{$images-url}section-front-intro.svg') no-repeat center top;
    @include media-breakpoint-down(sm){
        padding-top: px(50);
    }
}
.section-front-slider{
    @include media-breakpoint-up(md) {
        padding-top: px(160);
        background: url('#{$images-url}section-slider-bg.svg') no-repeat center -520px;
    }
    @include media-breakpoint-down(sm){
        padding-top: px(60);
    }
}
.section-front-creative{
    @mixin diamond-sm($size){
        $diamond-inner-space: ($size * .05);
        .diamonds-items{
            position: relative;
            width: px($size);
            height: px($size);
            margin: px($size * .92) auto;
            line-height: normal;
            font-size: 0;
            *{
                display: block;
            }
            .item {
                @include position(absolute,50% null null 50%);
                transform: translate3d(-50%,-50%,0) rotate(-45deg);
                width: 100%;
                padding-bottom: 100%;
                &:before{
                    @include position(absolute,px($diamond-inner-space) px($diamond-inner-space) px($diamond-inner-space) px($diamond-inner-space));
                    transition: $transition-time $transition-fx;
                    content: '';
                    display: block;
                    background-color: $color-bg;
                }
                .item-text{
                    @include position(absolute,50% px(10) null px(10));
                    transform: translate3d(0,-50%,0) rotate(45deg);
                    line-height: 1.091em;
                    font-size: px($size * .095);
                    @include font-special;
                    color: $color-text-primary;
                    letter-spacing: 0.064em;
                    > *{
                        display: block;
                        text-align: center;
                    }
                    .num{
                        padding-bottom: px($size * .05);
                        line-height: .95;
                        font-size: px($size * .25);
                        color: $color-text-secondary;
                    }
                }
                &:nth-child(1){
                    transform: translate3d(-84.7%,20.7%,0) rotate(-45deg);
                    //background-color: rgba(green,.8);
                }
                &:nth-child(2){
                    transform: translate3d(-14%,-50%,0) rotate(-45deg);
                    //background-color: rgba(yellow,.8);
                }
                &:nth-child(3){
                    transform: translate3d(-84.7%,-120.7%,0) rotate(-45deg);
                    //background-color: rgba(red,.8);
                }
            }
        }
    }
    @include media-breakpoint-up(md){
        $diamond-inner-space: 12;
        height: px(813);
        padding-top: px(120);
        padding-bottom: 0;
        &:before,
        &:after{
            @include position(absolute,50% null null 50%);
            z-index: 3;
            content: '';
            width: px(2600);
            height: px(2);
            display: block;
            background-color: $color-primary;
        }
        &:before{
            transform: translate3d(px(352),px(-409),0);
        }
        &:after{
            transform: translate3d(px(-2819),px(163),0);
        }
        .bg-triangle{
            @include position(absolute,0 0 null null);
            @include triangle('left',px(65),px(140),$color-primary);
            z-index: 4;
            content: '';
            display: block;
            transform: translateY(px(-71));
        }
        .diamonds-items{
            @include position(absolute,0 null null 50%);
            transform: translate3d(-30%,45%,0) rotate(-45deg);
            z-index: 1;
            width: px(815);
            line-height: normal;
            font-size: 0;
            *{
                display: block;
            }
            .item{
                position: relative;
                width: (100% / 3);
                display: inline-block;
                .item-inner{
                    position: relative;
                    width: 100%;
                    padding-bottom: 100%;
                    border: px(2) solid $color-primary;
                    &:before{
                        @include position(absolute,px($diamond-inner-space) px($diamond-inner-space) px($diamond-inner-space) px($diamond-inner-space));
                        transition: $transition-time $transition-fx;
                        content: '';
                        display: block;
                        opacity: 0;
                        background-color: $color-bg;
                    }
                }
                .item-text{
                    @include position(absolute,50% px(10) null px(10));
                    transform: translate3d(0,-50%,0) rotate(45deg);
                    line-height: 1.091em;
                    font-size: px(20);
                    @include font-special;
                    color: $color-text-primary;
                    letter-spacing: 0.064em;
                    > *{
                        display: block;
                        text-align: center;
                    }
                    .num{
                        padding-bottom: px(10);
                        line-height: .95;
                        font-size: px(50);
                        color: $color-text-secondary;
                    }
                }
                &:hover{
                    .item-inner:before{
                        opacity: 1;
                    }
                }
                &:nth-child(1){
                    transform: translateX(px(2));
                    .item-inner{
                        border-left-color: $color-bg-main;
                        border-right-color: $color-bg-main;
                        border-bottom-color: $color-bg-main;
                    }
                }
                &:nth-child(2){
                    z-index: 2;
                    .item-inner{
                        border-top-color: $color-bg-main;
                    }
                }
                &:nth-child(3){
                    transform: translateX(px(-2));
                    .item-inner{
                        border-left-color: $color-bg-main;
                        border-right-color: $color-bg-main;
                        border-bottom-color: $color-bg-main;
                    }
                }
            }
        }
        @include media-breakpoint-only(xl){
            height: px(700);
            &:before{
                transform: translate3d(px(372),px(-335),0);
            }
            &:after{
                transform: translate3d(px(-2718),px(156),0);
            }
            .bg-triangle {
                transform: translateY(px(-40));
                @include triangle('left', px(65 * .8), px(140 * .8), $color-primary);
            }
            .diamonds-items{
                transform: translate3d(-20%,45%,0) rotate(-45deg);
                width: px(700);
            }
        }
        @include media-breakpoint-only(lg){
            height: px(630);
            &:before{
                transform: translate3d(px(318),px(-284),0);
            }
            &:after{
                transform: translate3d(px(-2701),px(136),0);
            }
            .bg-triangle {
                transform: translateY(px(-24));
                @include triangle('left', px(65 * .8), px(140 * .8), $color-primary);
            }
            .diamonds-items{
                transform: translate3d(-20%,45%,0) rotate(-45deg);
                width: px(600);
            }
        }
        @include media-breakpoint-only(md){
            height: px(630);
            padding-top: px(60);
            &:before{
                transform: translate3d(px(182),px(-140),0);
            }
            &:after{
                transform: translate3d(px(-2802),px(245),0);
            }
            .text-wrap{
                @include make-col(6);
            }
            .bg-triangle {
                transform: translateY(px(120));
                @include triangle('left', px(65 * .8), px(140 * .8), $color-primary);
            }
            .diamonds-items{
                transform: translate3d(-40%,150%,0) rotate(-45deg);
                width: px(550);
                .item{
                    .item-text{
                        font-size: px(17);
                    }
                }
            }
        }
    }
    @include media-breakpoint-down(sm){
        .text-wrap{
            padding-bottom: px(30);
        }
        @include media-breakpoint-only(sm){
            @include diamond-sm(200);
        }
        @include media-breakpoint-only(xs){
            @include diamond-sm(150);
        }
        @include media-breakpoint-only(us){
            @include diamond-sm(130);
        }
    }
}
.section-building-specifications{
    padding-top: px(350);
    padding-bottom: px(280);
    line-height: 0;
    font-size: 0;
    background-repeat: no-repeat;
    background-position: center top, center top, center top, left 957px;
    background-image:   url("#{$images-url}section-building-specifications-up.svg"),
    url("#{$images-url}section-building-specifications-left.svg"),
    url("#{$images-url}section-building-specifications-right.svg"),
    url("#{$images-url}section-building-specifications-triangle.svg");
    background-size: 2560px auto, 2560px auto, 2560px auto, 64px auto;
    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {// IE10+ specific styles go here
        background: none;
    }
    @include media-breakpoint-down(xl){
        background-image:   url("#{$images-url}section-building-specifications-up.svg"),
        url("#{$images-url}section-building-specifications-left.svg"),
        url("#{$images-url}section-building-specifications-right.svg");
        background-position: calc(50% + 20px) top, center top -32px, center top -18px;
    }
    @include media-breakpoint-down(lg){
        background-position: calc(50% + 64px) top, center top -98px, center top -57px;
    }
    @include media-breakpoint-down(md){
        background-image: url("#{$images-url}section-building-specifications-left.svg"),
        url("#{$images-url}section-building-specifications-right.svg");
        background-size: 1280px auto;
        background-position: left top 433px, center top 346px;
    }
    @include media-breakpoint-down(sm){
        background: none;
    }
    @mixin diamond-grid-breakpoint($size,$max-row,$border:1){
        //inspired by: https://github.com/davist11/css-diamond-grid
        $q: 1.42;
        $q2: round($size * 0.2894736842105263);
        $n: round(($max-row * 2) - 1);
        $space: round(($size * $q) - ($size));
        $max-width: round(($size * $max-row) + ($space * ($max-row - 1)));
        .diamonds-grid {
            max-width: px($max-width + ($border * $max-row));
            > .grid-item {
                margin-right: px($space + $border);
                @include media-breakpoint-up(lg){
                    &:nth-child(#{$n}n+#{$max-row + 1}) {
                        margin-left: px($space + $q2);
                    }
                    &:nth-child(#{$n}n+#{$max-row}) {
                        margin-right: 0;
                    }
                    &:nth-child(n+#{$max-row}) {
                        margin-top: px(-$q2 + $border);
                    }
                    &.item-space > .item{
                        box-shadow: none;
                        > *{
                            display: none;
                        }
                    }
                }
                @include media-breakpoint-down(md){
                    &:nth-of-type(#{$n}n+#{$max-row + 1}) {
                        margin-left: px($space + $q2);
                    }
                    &:nth-of-type(#{$n}n+#{$max-row}) {
                        margin-right: 0;
                    }
                    &:nth-of-type(n+#{$max-row}) {
                        margin-top: px(-$q2 + $border);
                    }
                    &.item-space{
                        display: none;
                    }
                }
                > .item {
                    width: px($size);
                    height: px($size);
                    > .item-inner {
                        width: px($size);
                        height: px($size);
                    }
                }
            }
        }
    }
    .diamonds-grid{
        margin: 0 auto;
        > .grid-item{
            display: inline-block;
            > .item{
                display: block;
                backface-visibility: hidden;
                box-shadow: 0 0 0 px(2) $color-primary;
                transform: rotate(-44.999deg);//ie-fix
                background: #fff;
                overflow: visible;
                > .item-inner{
                    display: table-cell;
                    transform: rotate(45deg);
                    vertical-align: middle;
                    line-height: normal;
                    text-align: center;
                    overflow: visible;
                    .item-inner-wrap{
                        position: relative;
                        transform: translateY(px(-5));
                        display: block;
                    }
                    .i{
                        max-width: px(100);
                        display: block;
                        margin: 0 auto px(5) auto;
                    }
                    .t{
                        @include h4;
                        color: $color-text-primary;
                    }
                    @include media-breakpoint-down(lg){
                        .t{
                            font-size: px(20)
                        }
                    }
                    @include media-breakpoint-down(md){
                        .t{
                            font-size: px(18)
                        }
                    }
                    @include media-breakpoint-down(sm){
                        .t{
                            font-size: px(16)
                        }
                    }
                    @include media-breakpoint-down(xs){
                        .i{
                            max-width: px(70);
                        }
                        .t{
                            font-size: px(14)
                        }
                    }
                    @include media-breakpoint-down(us){
                        .i{
                            max-width: px(60);
                        }
                        .t{
                            font-size: px(11)
                        }
                    }
                }
            }
        }
    }
    .text-holder{
        max-width: px(490);
        position: absolute;
        z-index: 5;
        &--1{
            top: px(-50);
            left: 50%;
        }
        &--2{
            bottom: px(-166);
            left: ($grid-gutter-width / 2);
        }
        .el-section-title{
            margin-bottom: px(40);
        }
        p{
            font-size: px(18);
            line-height: px(28);
        }
    }
    @include media-breakpoint-up(xxl){
        @include diamond-grid-breakpoint(200,4);
    }
    @include media-breakpoint-only(xl){
        @include diamond-grid-breakpoint(190,4);
    }
    @include media-breakpoint-only(lg){
        @include diamond-grid-breakpoint(170,4);
    }
    @include media-breakpoint-only(md){
        @include diamond-grid-breakpoint(160,3);
    }



    @include media-breakpoint-down(md){
        padding-top: px(132);
        padding-bottom: px(74);
        .diamonds-grid{
            margin-bottom: px(107);
        }
        .text-holder{
            position: initial;
            top: initial;
            left: initial;
            bottom: initial;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            &--1{
                margin-bottom: px(112);
            }
            .el-section-title{
                margin-bottom: px(20);
            }
        }
    }
    @include media-breakpoint-down(sm){
        padding-top: px(80);
        padding-bottom: px(74);
        .text-holder{
            &--1{
                margin-bottom: px(102);
            }
        }
    }


    @include media-breakpoint-only(sm){
        @include diamond-grid-breakpoint(160,2);
    }
    @include media-breakpoint-only(xs){
        @include diamond-grid-breakpoint(120,2);
    }
    @include media-breakpoint-only(us){
        @include diamond-grid-breakpoint(100,2);
    }
}
.section-building-areas{
    $border-color: $color-gray-light;
    background: url("#{$images-url}section-building-areas.svg") no-repeat center bottom;
    background-size: 2560px auto;
    .tabs-wrap{
        $triangle: 8;
        border-top: px(1) solid $border-color;
        border-bottom: px(1) solid $border-color;
        background-color: $color-bg-main;
        .nav-tabs{
            @include list-reset;
            @include make-container-max-widths();
            @include make-container();
            display: flex;
            .nav-item{
                position: relative;
                width: (100% / 3);
                display: block;
            }
            .nav-link{
                position: relative;
                display: block;
                @include font-special;
                color: $color-text-secondary;
                text-align: center;
                cursor: pointer;
                > span{
                    position: relative;
                    z-index: 2;
                    height: px(56);
                    line-height: px(56);
                    display: block;
                }
                &:before{
                    @include position(absolute,0 0 px(-$triangle) 0);
                    z-index: 1;
                    content: '';
                    display: block;
                    opacity: 0;
                }
                &:after{
                    @include triangle('down-left', px($triangle), px($triangle / 2), $color-bg-main);
                    @include position(absolute, null null px(-$triangle) 0);
                    transform: translate3d(px(-1),px(1),0);
                    //transition: opacity $transition-time $transition-fx;
                    z-index: 2;
                    content: '';
                    display: block;
                    opacity: 0;
                }
                &.active{
                    color: $color-white;
                    &:before{
                        opacity: 1;
                        background-color: $color-primary;
                    }
                    &:after{
                        opacity: 1;
                    }
                }
            }
        }
    }
    .tab-content{
        @include make-container-max-widths();
        @include make-container();
        > .tab-pane{
            padding: px(60) 0;
        }
    }
    .params-table{
        $cell-h-space: 15;
        $cell-v-space: 15;
        line-height: 1.143em;
        font-size: px(15);
        @include font-special;
        letter-spacing: 0.086em;
        > *:not(:last-child){
            border-bottom: px(1) solid $border-color;
        }
        .t-row{
            display: flex;
            align-items: center;
        }
        .t-cell{
            text-align: right;
            padding: px($cell-v-space) px($cell-h-space);
            &:nth-child(1){
                width: 60%;
                text-align: left;
            }
            &:nth-child(2),
            &:nth-child(3){
                width: 20%;
            }
        }
        .t-multi-row{
            padding-left: px($cell-h-space);
            padding-right: px($cell-h-space);
            .t-cell{
                &:first-child{
                    padding-left: 0;
                }
                &:last-child{
                    padding-right: 0;
                }
            }
            .t-row{
                &:not(:last-child){
                    border-bottom: px(1) solid $border-color;
                }
                &:not(:first-child){
                    .t-cell{
                        color: $color-text-gray;
                    }
                }
            }
        }
        .t-multi-row-details{
            padding-left: px($cell-h-space);
            padding-right: px($cell-h-space);
            .t-cell{
                padding-top: 8px;
                padding-bottom: 8px;
                &:first-child{
                    padding-left: 0;
                }
                &:last-child{
                    padding-right: 0;
                }
                &:nth-child(2){
                    width: 25%;
                }
            }
            .t-row{
                &:first-child{
                    border-bottom: px(1) solid $border-color;
                }
                &:last-child{
                    border-bottom: px(1) solid $border-color;
                }
                &:not(:first-child){
                    .t-cell{
                        color: $color-text-gray;
                    }
                }
            }
            .t-row-borders{
                padding-top: 8px;
                padding-bottom: 8px;
                border-bottom: px(1) solid $border-color;
                border-top: px(1) solid $border-color;
            }
        }
        .t-foot{
            margin-top: px(40);
        }
        .selectable{
            &.selected,
            &:hover{
                background-color: $color-primary;
                cursor: pointer;
                .t-cell,
                .t-row:not(:first-child) .t-cell{
                    color: $color-white;
                }
                .t-row:not(:last-child){
                    border-bottom-color: $color-bg;
                }
            }
        }
        .highlighted{
            background-color: rgba($color-primary,.2);
        }
    }
    .floor-plan{
        position: relative;
        padding: 0 px(96) px(116) 0;
        margin: 0;
        @include media-breakpoint-only(md){
            padding: 0 px(66) px(86) 0;
        }
        @include media-breakpoint-down(xs) {
            padding: 0 px(66) px(86) 0;
        }
        @include media-breakpoint-down(xs) {
            padding: 0 0 px(86) 0;
            margin-bottom: px(20);
            .floor-plan__description{
                margin-bottom: px(40);
            }
            .floor-plan__control--expand{
                display: none;
            }
            .floor-plan__control--download{
                top: initial;
                bottom: 0;
            }
            .floor-plan__compass{
                bottom: initial;
                top: 0;
            }
            .floor-plan__name,
            .floor-plan__description{
                padding-right: px(53);
            }
        }
        &__name{
            @include h4;
            text-transform: uppercase;
            color: $color-primary;
            margin-bottom: px(8);
        }
        &__description{
            @include h4;
            text-transform: uppercase;
            opacity: 0.46;
            margin-bottom: px(60);
        }
        &__image{
            display: block;
            line-height: 0;
            img{
                display: block;
                width: 100%;
                height: auto;
            }
        }
        &__control{
            display: block;
            position: absolute;
            border: none;
            cursor: pointer;
            background-color: $color-bg;
            background-repeat: no-repeat;
            background-position: center center;
            width: px(56);
            height: px(56);
            &:hover{
                background-color: darken($color-bg, 7%);
            }
            &--download{
                top: 0;
                right: 0;
                background-image: url("#{$images-url}icon-download-black.svg");
                background-size: px(12) auto;
            }
            &--expand{
                top: px(72);
                right: 0;
                background-image: url("#{$images-url}icon-expand-black.svg");
                background-size: px(14) auto;
            }
            &--previous{
                left: 0;
                bottom: 0;
                background-image: url("#{$images-url}icon-arrow-up-black.svg");
                background-size: px(12) auto;
            }
            &--next{
                left: px(72);
                bottom: 0;
                background-image: url("#{$images-url}icon-arrow-down-black.svg");
                background-size: px(12) auto;
            }
        }
        &__compass{
            width: px(43);
            height: px(55);
            position: absolute;
            right: 0;
            bottom: 0;
            background-image: url("#{$images-url}icon-compass-grey.png");
        }
        &.building-plan-wrapper{
            padding-bottom: 0;
        }
    }
    .popup-floor-plan{
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 110;
        display: none;
        &.active{
            display: block;
        }
        &__overlay{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.5);
            z-index: 111;
        }
        &__plate{
            position: absolute;
            width: 70%;
            max-width: px(1400);
            top: 50%;
            left: 50%;
            //transform: translate(-50%, -50%);
            background: #fff;
            z-index: 112;
            box-shadow: 0 0 px(60) 0 rgba(0, 0, 0, 0.15);
            animation-name: animation-popup-appear;
            animation-duration: 250ms;
            animation-timing-function: ease-out;
            //animation-delay: 0;
            animation-iteration-count: 1;
            animation-direction: normal;
            animation-fill-mode: forwards;
            animation-play-state: running;
        }
        &__header{
            padding: px(20) px(40);
            border-bottom: 1px solid $color-gray-light;
            background: #f9f9f9;
        }
        &__content{
            padding: px(20) px(40);
        }
        &__name{
            line-height: px(42);
            font-size: px(40);
            @include font-special;
            letter-spacing: px(2);
            text-transform: uppercase;
            color: $color-primary;
            margin-bottom: px(8);
        }
        &__description{
            @include h4;
            text-transform: uppercase;
            opacity: 0.46;
        }
        &__image{
            width: 100%;
            height: 60vh;
            text-align: center;
            line-height: 60vh;
            overflow: hidden;
            position: relative;
            img{
                width: 100%;
                height: auto;
                object-fit: contain;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
        &__close{
            display: block;
            position: absolute;
            border: none;
            cursor: pointer;
            background: transparent url("#{$images-url}icon-close-black.svg") no-repeat center center;
            background-size: px(20) px(20);
            width: px(50);
            height: px(50);
            top: 0;
            right: 0;
            padding: 0;
            &:hover{
                background-color: darken($color-bg, 7%);
            }
        }
    }
    @include media-breakpoint-down(xl){
        .popup-floor-plan{
            &__plate{
                width: 90%;
            }
            &__header{
                padding: px(15) px(30);
            }
            &__content{
                padding: px(15) px(30);
            }
            &__name {
                font-size: px(35);
                line-height: px(37);
                margin-bottom: px(5);
            }
        }
    }
    @include media-breakpoint-down(sm){
        .popup-floor-plan{
            &__plate{
                width: 94%;
            }
            &__header,
            &__content{
                padding: px(15);
            }
            &__name {
                font-size: px(25);
                line-height: px(27);
            }
            &__description{
                font-size: px(16);
            }
            &__close{
                width: px(40);
                height: px(40);
                background-size: px(15) px(15);
            }
        }
    }
}
.section-location-directions{
    .stations {
        @include list-reset;
    }
    @include media-breakpoint-up(xxl){
        $from-center: 170;
        $stations-h-size: 455;
        $stations-v-size: 255;
        $space: 15;
        background: url('#{$images-url}section-location-directions-bg.svg') no-repeat center center;
        .station-signs{
            position: absolute;
            display: block;
            line-height: px(12);
            font-size: 0;
            white-space: nowrap;
            img{
                width: auto;
                height: auto;
                max-width: initial;
                max-height: px(12);
                display: inline;
                &:not(:last-child){
                    margin-right: px(3);
                }
            }
        }
        .section-title{
            @include position(absolute,50% null null 50%);
            transform: translate3d(-50%,-50%,0);
            > .title{
                @include h3;
                padding-left: px(5);
                color: $color-text-secondary;
                text-align: center;
            }
            > .station-signs{
                left: 50%;
                bottom: 100%;
                transform: translate3d(-50%,px(-$space),0);
            }
        }
        .directions{
            position: relative;
            height: px(1152);
            .direction{
                @include position(absolute,50% null null 50%);
                .direction-name{
                    display: none;
                }
                .stations{
                    position: relative;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                }
                &:nth-child(1){
                    transform: translate3d(0,-100%,0);
                    padding-bottom: px($from-center);
                    .stations{
                        flex-direction: column-reverse;
                    }
                }
                &:nth-child(2){
                    padding-left: px($from-center);
                }
                &:nth-child(3){
                    padding-top: px($from-center);
                    .stations{
                        flex-direction: column;
                    }
                }
                &:nth-child(4){
                    transform: translate3d(-100%,0,0);
                    padding-right: px($from-center);
                    .stations{
                        flex-direction: row-reverse;
                    }
                }
                &:nth-child(1),
                &:nth-child(3){
                    height: px($stations-v-size + $from-center);
                    .station-signs{
                        top: px(5);
                        right: 100%;
                        padding-right: px($space);
                    }
                    .name-wrap{
                        padding-left: px($space);
                    }
                    .station-name br{
                        display: none;
                    }
                }
                &:nth-child(2),
                &:nth-child(4){
                    width: px($stations-h-size + $from-center);
                    .station-signs{
                        bottom: 100%;
                        padding-bottom: px($space);
                    }
                    .name-wrap{
                        padding-top: px($space);
                    }
                }
            }
        }
        .stations{
            .name-wrap{
                display: block;
            }
            .station{
                position: relative;
            }
            .station-name{
                @include h4;
            }
            .time{
                display: block;
                line-height: 1.1em;
                font-size: px($font-size-small);
                color: $color-text-secondary;
            }
        }
    }
    @include media-breakpoint-down(xl){
        $station-width: 150;
        $border: px(2) solid $color-gray-light;
        $bottom-space: 22;
        padding-top: px(60);
        .section-title{
            display: none;
        }
        .directions{
            overflow-x: auto;
            min-height: px(680);
            .direction{
                display: flex;
                padding-top: px(40);
                padding-right: px($station-width);
                &:not(:last-child){
                    padding-bottom: px(50);
                }
                .direction-name{
                    @include font-special;
                    width: px(300);
                    @include media-breakpoint-down(lg){
                        width: px(200);
                    }
                    padding-bottom: px($bottom-space);
                    border-bottom: $border;
                    *{
                        min-width: px(200);
                        display: block;
                        white-space: nowrap;
                    }
                    .l{
                        line-height: 1.091em;
                        font-size: px(26);
                        @include font-special;
                        color: $color-text-gray;
                        letter-spacing: 0.064em;
                    }
                    .t{
                        line-height: 1.067em;
                        @include font-special;
                        font-size: px(30);
                        color: $color-text-secondary;
                        letter-spacing: 0.053em;
                    }
                }
            }
        }
        .stations{
            display: flex;
            border-bottom: $border;
            .station{
                position: relative;
                display: block;
                &:not(:first-child){
                    margin-left: px($station-width);
                }
                &:before{
                    @include position(absolute, null 0 0);
                    content: '';
                    width: px(15);
                    height: px(15);
                    display: block;
                    border: $border;
                    background-color: $color-bg-main;
                    transform: translate3d(px(-4),px(8),0) rotate(45deg);
                }
                *{
                    display: block;
                    &.station-signs{
                        @include position(absolute,null null px(86) 100%);
                        min-width: px($station-width);
                        line-height: px(12);
                        font-size: 0;
                        white-space: nowrap;
                        img{
                            width: auto;
                            height: auto;
                            max-width: initial;
                            max-height: px(12);
                            display: inline;
                            &:not(:last-child){
                                margin-right: px(3);
                            }
                        }
                    }
                }
                .name-wrap{
                    @include position(absolute,null null px($bottom-space) 100%);
                    min-width: px($station-width);
                }
                .station-name{
                    $lh: 1.091em;
                    @include font-special;
                    line-height: $lh;
                    min-height: ($lh * 2);
                }
                .time{
                    line-height: 1.1em;
                    font-size: px($font-size-small);
                    color: $color-text-secondary;
                }
            }
        }
    }
}
.section-location-discover{
    $acc-h-space: 10;
    padding-bottom: px(60);
    .section-inner{
        overflow: hidden;
    }
    .map-wrap,
    .data-wrap{
        @include make-col-ready();
    }
    .map-wrap{
        position: relative;
    }
    .map-placeholder{
        height: px(500);
    }
    .map-holder{
        @include position(absolute,0 ($grid-gutter-width / 2) 0 0);
        overflow: hidden;
        height: px(500);
        border: px(1) solid $color-gray-light;
        z-index: 10;
        iframe{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        .map-image-placeholder{
            @include position(absolute,0 0 0 0);
            display: block;
            background: no-repeat center center;
            background-size: cover;
        }
    }
    .acc-title{
        @include h4;
        padding-bottom: px(15);
        padding-left: px($acc-h-space);
        padding-right: px($acc-h-space);
        &:not(:first-child){
            padding-top: px(40);
        }
    }
    .acc-subtitle,
    .acc-content{
        @include font-special;
        font-size: px(16);
        line-height: 1.143em;
        letter-spacing: 0.086em;
        border-bottom: px(1) solid $color-gray-light;
    }
    .acc-subtitle{
        position: relative;
        cursor: pointer;
        padding: px(10) px($acc-h-space);
        transition: color $transition-time $transition-fx;
        &:after{
            @include icomoon;
            @include position(absolute,50% px($acc-h-space) null null);
            transform: translate3d(0,-50%,0);
            transition: transform $transition-time $transition-fx;
            content: "\e906";
            font-size: px(10);
            opacity: .26;
            color: $color-text-primary !important;
        }
        &:hover{
            color: $color-text-secondary;
            cursor: pointer;
        }
        &:first-child{
            border-top: px(1) solid $color-gray-light;
        }
        &[aria-expanded=true]{
            color: $color-text-secondary;
            &:after{
                transform: translate3d(0,-50%,0) rotate(180deg);
            }
        }
    }
    .acc-content{
        ol{
            @include list-reset;
            padding: px(10) px($acc-h-space);
            list-style-type: none;
            counter-reset: li;
            li{
                display: block;
                padding: px(5) 0;
                &, & a{
                    transition: color $transition-time $transition-fx;
                    color: $color-text-gray;
                }
                &:hover{
                    &, & a{
                        color: $color-text-secondary;
                    }
                }
                &:before {
                    counter-increment: li;
                    content: counter(li, decimal-leading-zero);
                    margin-right: .5em;
                }
            }
        }
    }
    @include media-breakpoint-up(md){
        margin-bottom: px(60);
        background: url('#{$images-url}section-location-discover02.svg') no-repeat center bottom;
        .map-wrap{
            @include make-col(8);
        }
        .data-wrap{
            @include make-col(4);
        }
    }
    @include media-breakpoint-up(xxl){
        margin-bottom: px(120);
        background: url('#{$images-url}section-location-discover01.svg') no-repeat center top, url('#{$images-url}section-location-discover02.svg') no-repeat center bottom;
    }
    @include media-breakpoint-down(xl){
        padding-top: px(60);
    }
    @include media-breakpoint-down(sm){
        .map-wrap{
            @include make-col(12);
        }
        .data-wrap{
            @include make-col(12);
            padding-top: px(40);
        }
        .map-placeholder{
            height: px(300);
        }
        .map-holder{
            left: ($grid-gutter-width / 2);
            width: auto !important;
            height: px(300);
        }
    }
}
.section-location-slider{
    @include media-breakpoint-up(md) {
        padding-bottom: px(180);
        background: url('#{$images-url}section-location-bg.svg') no-repeat center bottom;
    }
    @include media-breakpoint-down(sm) {
        padding-bottom: px(60);
        .el-section-title{
            padding-left: ($grid-gutter-width / 2);
            padding-right: ($grid-gutter-width / 2);
        }
    }
}
.section-location-discover,
.section-location-slider{
    .el-section-title{
        padding-bottom: 1.7em;
        @include media-breakpoint-down(lg) {
            padding-bottom: 1em;
        }
    }
}
.section-downloadable-info{
    $bg: $color-bg;
    $triangle: 64;
    .el-section-title{
        margin-bottom: px(40);
    }
    .section-inner{
        position: relative;
        background-color: $bg;
    }
    @include media-breakpoint-up(sm){
        .form-wrap {
            form {
                width: 100%;
            }
            .hf-message {
                padding-top: px(15);
            }
        }
        .form-wrap .hf-fields-wrap,
        .form-wrap{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .field{
                flex: 1;
                padding-right: px(14);
            }
            .button{
                width: px(200);
            }
        }
    }
    @include media-breakpoint-up(md){
        min-height: px(521);
        padding: px(100) 0;
        background: url('#{$images-url}section-downloadable-info-bg.svg') no-repeat center top;
        .section-bg{
            position: relative;
            &:before{
                content: '';
                @include position(absolute,0 0 0 50%);
                display: block;
                background-color: $bg;
            }
        }
        .section-inner{
            padding-top: px(100);
            padding-bottom: px(100);
        }
    }
    @include media-breakpoint-up(xl){
        .section-inner{
            &:before{
                content: '';
                @include position(absolute,0 0 0 px(-$triangle));
                display: block;
                background-color: $bg;
            }
            &:after{
                content: '';
                @include position(absolute,null null 0 px(-$triangle));
                @include triangle('down-left', px($triangle), px($triangle / 2), $color-bg-main);
                transform: translate3d(px(-1),px(1),0);
                display: block;
            }
        }
    }
    @include media-breakpoint-down(sm){
        .section-inner{
            position: relative;
            padding-top: px(60);
            padding-bottom: px(60);
            margin-bottom: px(60);
        }
    }
    @include media-breakpoint-down(xs){
        .form-wrap .button {
            padding-top: px(10);
        }
    }
}
.section-follow-us{
    $item-size: 56;
    $icon-size: ($item-size * .3);
    .el-section-title{
        margin-bottom: px(45);
    }
    ul.social-links{
        @include list-reset;
        li{
            line-height: 1em;
            font-size: 0;
            &:not(:first-child){
                margin-left: px(15);
            }
        }
        .item{
            position: relative;
            width: px($item-size);
            height: px($item-size);
            display: flex;
            justify-content: center;
            align-items: center;
            &:before{
                @include position(absolute,0 0 0 0);
                transition: opacity $transition-time $transition-fx;
                content: '';
                display: block;
            }
            i{
                position: relative;
                z-index: 2;
                font-size: px($icon-size);
                color: $color-white;
            }
            &:hover:before{
                opacity: .86;
            }
            &.facebook:before{
                background-color: $color-facebook;
            }
            &.linkedin:before{
                background-color: $color-linkedin;
            }
            &.twitter:before{
                background-color: $color-twitter;
            }
            &.instagram:before{
                background-color: $color-instagram;
            }
        }
    }
    @include media-breakpoint-up(md){
        padding-top: px(100);
        padding-bottom: px(100);
    }
    @include media-breakpoint-down(sm){
        padding-top: px(60);
        padding-bottom: px(60);
    }
}
.section-3dview{
    .section-title{
        @include h3;
        color: $color-text-secondary;
        margin-bottom: px(30);
        @include media-breakpoint-down(md) {
            margin-bottom: px(15);
        }
    }
    .canvas-wrap{
        @include iframe-responsive(50%);
        background-color: $color-gray-dark;
        &:before{
            @include position(absolute,50% null null 50%);
            z-index: 1;
            transform: translate3d(-50%,-50%,0) rotate(45deg);
            content: '';
            width: px(200);
            height: px(200);
            display: block;
            background: url('#{$images-url}loading-3dview.svg') no-repeat center center;
            background-size: contain;
        }
        iframe{
            z-index: 2;
        }
    }
    .section-inner{
        padding-top: px(50);
        padding-bottom: px(50);
    }
    @include media-breakpoint-up(md){
        .canvas-wrap{
            box-shadow: 0 0 px(30) rgba($color-black,.15);
        }
    }
    @include media-breakpoint-down(sm){
        .canvas-wrap{
            box-shadow: 0 0 px(15) rgba($color-black,.15);
            &:before{
                width: px(100);
                height: px(100);
            }
        }
    }
}
.section-video,
.section-videos{
    .canvas-wrap{
        @include iframe-responsive();
        position: relative;
        background-color: $color-gray-dark;
        .video-cover{
            @include position(absolute,0 0 0 0);
            z-index: 10;
            content: '';
            opacity: 1;
            display: block;
            background: no-repeat center center;
            background-size: cover;
            transition: $transition;
            cursor: pointer;
            &.hidden{
                opacity: 0;
                pointer-events: none;
            }
        }
    }
    .section-inner{
        padding-top: px(50);
        padding-bottom: px(50);
    }
    @include media-breakpoint-up(md){
        .canvas-wrap{
            box-shadow: 0 0 px(30) rgba($color-black,.15);
        }
    }
    @include media-breakpoint-down(sm){
        .canvas-wrap{
            box-shadow: 0 0 px(15) rgba($color-black,.15);
            &:before{
                width: px(100);
                height: px(100);
            }
        }
    }
}
.section-videos{
    position: relative;
    //&:before{
    //    @include position(absolute,50% 0 0 0);
    //    content: '';
    //    display: block;
    //    background-color: $color-white;
    //}
    .items{
        position: relative;
        z-index: 2;
        margin: px(-15);
        //&:before{
        //    @include position(absolute,px(15) px(15) px(15) px(15));
        //    content: '';
        //    display: block;
        //    background-color: $color-white;
        //}
        > .item {
            position: relative;
            z-index: 5;
            flex: 1;
            padding: px(15);
        }
        .title{
            @include h3;
            color: $color-text-secondary;
            margin-bottom: px(30);
            @include media-breakpoint-down(md) {
                margin-bottom: px(15);
            }
        }
    }
    @include media-breakpoint-up(md){
        .items {
            display: flex;
            justify-content: center;
        }
    }
}
//=============================================================================
// PAGES
//=============================================================================
#page.contact{
    .section-contact .contacts-wrap > .title{
        @include h1;
    }
    #footer{
        background-color: $color-bg;
    }
    @include media-breakpoint-up(xl){
        $height: 1056;//1056
        #header .header-panel{
            height: px($height);
            background-color: transparent;
            .social-wrap{
                padding-bottom: px(63);
            }
        }
        .section-contact{
            display: flex;
            align-items: flex-end;
            height: px($height);
            background: url('#{$images-url}section-contact-contact-bg-2.svg') no-repeat center top, $color-gray url('#{$images-url}section-contact-contact-bg.svg') no-repeat center bottom;
            .section-inner{
                align-items: flex-start;
            }
            .contacts-wrap{
                position: relative;
                > .title{
                    @include position(absolute,null null 100% 0);
                    margin-bottom: px(55);
                }
                .items .item:first-child{
                    padding-top: 0 !important;
                }
            }
        }
        @media (max-width: 1500px){
            .section-contact .section-inner{
                padding-left: px($header-panel-width);
            }
        }
        @include media-breakpoint-down(xl){
            .section-contact .section-bg{
                transform: translateX(px(-150));
            }
        }
    }
    @include media-breakpoint-between(md,lg){
        $panel-height: 600;
        #header{
            .header-panel{
                height: px($panel-height);
                background-color: transparent;
                .social-wrap{
                    padding-bottom: px(53);
                }
            }
            .main-nav{
                > .spacer{
                    background-color: rgba($color-text-primary,.46);
                }
                > .item{
                    &:hover,
                    &.active{
                        color: rgba($color-text-primary,.46);
                    }
                }
            }
        }
        .section-contact .contacts-wrap{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: px($panel-height);
            padding-left: ($header-panel-width + ($grid-gutter-width / 2));
        }
    }
    @include media-breakpoint-only(md){
        $panel-height: 500;
        #header{
            .header-panel{
                height: px($panel-height);
            }
        }
        .section-contact .contacts-wrap{
            height: px($panel-height);
            .items .item:last-child{
                min-width: 60%;
            }
        }
    }
}

.js-spaceplan-detail {
     &.js-hide {
        display: none;
    }
}

.building-plan-holder{
    max-width: 460px;
    margin: 0 auto;

}


@include media-breakpoint-down(sm){
    .floor-plan{
        .slick-slider{
            .slick-dots{
                display: none;
            }
        }
    }
}

.hf-message-success{
    display: block;
    padding: px(20) px(30);
    background: #46b58e;
    color: #fff;
    border-left: px(10) solid $color-primary;
    &:first-child{
        margin-top: 0;
    }
    &:last-child{
        margin-bottom: 0;
    }
}

.gdpr-link{
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 15px;
  float: right;
  clear: right;
  max-width: 500px;
    text-align: right;
    a{
      color: $color-primary;
        &:hover{
            text-decoration: underline;
        }
    }
  &--recaptcha {
    margin-top: 0;
  }
}
.gdpr-link__flex-end{
    justify-content: flex-end !important;
}

.grecaptcha-badge { visibility: hidden; }
