@mixin image($url: false, $width: false, $height: false, $ratio: false) {

  // url
  @if $url {
    background-image: url($url);
  }
  // width
  @if $width {
    width: $width;
  } @else if $height and $ratio {
    width: $height * $ratio;
  }
  // height
  @if $height {
    width: $height;
  } @else if $width and $ratio {
    height: $width / $ratio;
  }

  // default properties
  display: inline-block;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;

}