$images-url  : '../i/';
$fonts-url  : '../font/';

$color-white: #fff;
$color-black: #000;
$color-gray-light: #e4e4e4;
$color-gray: #6e6b6c;
$color-gray-dark: #212021;
$color-primary: #c18364;
$color-primary-hover: #d1a48e;
$color-primary-active: #9e6b53;

$color-text-primary: #272829;
$color-text-secondary: $color-primary;
$color-text-gray: #9c9c9d;

$color-bg: #f2f2f2;
$color-bg-main: $color-white;

$color-facebook: #3b5998;
$color-linkedin: #0077b5;
$color-twitter: #1da1f2;
$color-instagram: #c13584;

$breakpoint-xl: 1300px;
$breakpoint-lg: 1100px;
$breakpoint-md: 992px;
$breakpoint-sm: 767px;
$breakpoint-xs: 480px;
$breakpoint-us: 380px;

$line-height: 1.5;
$font-size-base: 18;
$font-size-small: 16;
$font-size-smaller: 14;

$header-height: 160;
$header-panel-width: 96;
$section-top-height: 800;
$section-top-height-md: 600;

$transition-time: .28s;
$transition-fx: ease-out;
$transition: all $transition-time $transition-fx;
//-------------------------------------------------------------
//Bootstrap - variables
//-------------------------------------------------------------
@import "../../../../bower_components/bootstrap/scss/functions";
$enable-grid-classes:       true !default;
$grid-breakpoints: (
        us: 0,
        xs: $breakpoint-us,
        sm: $breakpoint-xs,
        md: $breakpoint-sm,
        lg: $breakpoint-md,
        xl: $breakpoint-lg,
        xxl: $breakpoint-xl
) !default;

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);

$container-max-widths: (
        //md: 720px,
        //lg: 960px,
        xl: 1240px
) !default;

@include _assert-ascending($container-max-widths, "$container-max-widths");

$grid-columns:                12 !default;
$grid-gutter-width:           30px !default;

//Bootstrap - Spacing
$spacer: 5px !default;
$spacers: (
        0: 0,
        1: ($spacer * 1),
        2: ($spacer * 2),
        3: ($spacer * 3),
        4: ($spacer * 4),
        5: ($spacer * 5),
        6: ($spacer * 6),
        7: ($spacer * 7),
        8: ($spacer * 8),
        9: ($spacer * 9),
        10: ($spacer * 10),
        11: ($spacer * 11),
        12: ($spacer * 12),
        13: ($spacer * 13),
        14: ($spacer * 14),
        15: ($spacer * 15),
        16: ($spacer * 16),
        17: ($spacer * 17),
        18: ($spacer * 18),
        19: ($spacer * 19),
        20: ($spacer * 20),
        21: ($spacer * 21),
        22: ($spacer * 22),
        23: ($spacer * 23),
        24: ($spacer * 24),
        25: ($spacer * 25),
        26: ($spacer * 26),
        27: ($spacer * 27),
        28: ($spacer * 28),
        29: ($spacer * 29),
        30: ($spacer * 30)
) !default;

//$transition-collapse:         height .35s ease !default;
//$enable-transitions:        true !default;
//$transition-fade: $transition;