<!DOCTYPE html>
<html {$site->language_attributes} >
<head>

    <!-- Google Tag Manager -->
    <script>
        (function(w,d,s,l,i){ w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f); })(window,document,'script','dataLayer','GTM-5G5V4G');
    </script>
    <!-- End Google Tag Manager -->

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">



    {* Google Analytics *}
    {include 'includes/analytics.latte' }

    {wp_head()}
    <title>{$title}</title>
    <meta name="description" content="{get_fields('option')['meta_description']}"/>
    <link rel="shortcut icon" href="{$themePath}/etc/favicon.png?v=1.0" type="image/x-icon">
    <meta name="viewport" content="width=device-width, target-densityDpi=160dpi">
    <!--[if (IEMobile)]><meta http-equiv="cleartype" content="on"><![endif]-->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="https://use.typekit.net/fdp2nxv.css">
    <link href="{$themePath}/public/css/main.min.css" rel="stylesheet" type="text/css" />

    <meta property="og:title" content="{get_fields('option')['og_title']}" />
    <meta property="og:type" content="{get_fields('option')['og_type']}" />
    <meta property="og:url" content="{get_fields('option')['og_url']}" />
    {foreach get_fields('option')['og_img'] as $image }
        <meta property="og:image" content="{$image['image']|noescape}" />
    {/foreach}
    <meta property="og:description" content="{get_fields('option')['og_description']}" />

    {block head}{/block}

    <!-- OneTrust Cookies Consent Notice start -->
    <script src="https://cdn.cookielaw.org/consent/ef2fb406-3eb0-4e1e-a3c3-37798675a2f3.js" type="text/javascript" charset="UTF-8"></script>
    <script type="text/javascript">
        function OptanonWrapper() { }
    </script>
    <!-- OneTrust Cookies Consent Notice end -->

</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5G5V4G"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {* Facebook JS SDK *}
    {include 'includes/facebook.latte' }

    {* Cookie message *}
    {*{include 'includes/cookie.latte' }*}

    {* Main content *}
    {include body}

    <script>
        var recaptchaSiteKey = {$recaptchaSiteKey};
    </script>
    {wp_footer()}

</body>
</html>