{layout '@layout.latte'}

{$title = 'Building'}

{$title = 'HB Reavis - 20Farringdon'}

{block body}

<div id="page" class="building">

{*    {include 'includes/cookies.inc.latte' }*}
    {include 'includes/header.latte' }

    <main id="main">

        <div class="section-top">
            <div class="section-inner">
                <div class="section-wrap">
                    <div class="text-wrap">
                        <h1 class="title"><span class="t">{get_field('s_top_title')|noescape}</span></h1>
                        <div class="text formated-output">
                            {get_field('s_top_text')|noescape}
                        </div>
                    </div>
                    <div class="image-wrap">
                        <div class="slider">
                            <div n:foreach="get_field('s_top_image') as $image" class="slide">
                                <span class="image" style="background-image:url('{$image['image']}');"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-building-specifications">
            <div class="section-inner">



                <div class="text-holder text-holder--1">
                    <h2 class="el-section-title">{get_field('s_spec_title')}</h2>
                    <p>{get_field('s_spec_text')|noescape}</p>
                </div>


                <div class="diamonds-grid">
                    <div class="grid-item">
                        <a href="/" class="item">
                            <span class="item-inner">
                                <span class="item-inner-wrap">
                                    <span class="i"><img src="{$themePath}/public/i/bs-icon-01.svg" alt=""></span>
                                    <span class="t">CAT B FIT OUT <br>OPTION</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <span class="grid-item item-space"><span href="/" class="item"><span class="item-inner"></span></span></span>
                    <span class="grid-item item-space"><span href="/" class="item"><span class="item-inner"></span></span></span>
                    <span class="grid-item item-space"><span href="/" class="item"><span class="item-inner"></span></span></span>
                    <div class="grid-item">
                        <a href="/" class="item">
                            <span class="item-inner">
                                <span class="item-inner-wrap">
                                    <span class="i"><img src="{$themePath}/public/i/bs-icon-02.svg" alt=""></span>
                                    <span class="t">142 BICYCLE SPACES <br>AND LOCKERS</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <span class="grid-item item-space"><span href="/" class="item"><span class="item-inner"></span></span></span>
                    <span class="grid-item item-space"><span href="/" class="item"><span class="item-inner"></span></span></span>
                    <div class="grid-item">
                        <a href="/" class="item">
                            <span class="item-inner">
                                <span class="item-inner-wrap">
                                    <span class="i"><img src="{$themePath}/public/i/bs-icon-03.svg" alt=""></span>
                                    <span class="t">NEW GRADE A <br>DEVELOPMENT</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="grid-item">
                        <a href="/" class="item">
                            <span class="item-inner">
                                <span class="item-inner-wrap">
                                    <span class="i"><img src="{$themePath}/public/i/bs-icon-04.svg" alt=""></span>
                                    <span class="t">4 PASSENGER <br>LIFTS</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="grid-item">
                        <a href="/" class="item">
                            <span class="item-inner">
                                <span class="item-inner-wrap">
                                    <span class="i"><img src="{$themePath}/public/i/bs-icon-05.svg" alt=""></span>
                                    <span class="t">DOUBLE-WIDTH <br>FEATURE STAIRCASE</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="grid-item">
                        <a href="/" class="item">
                            <span class="item-inner">
                                <span class="item-inner-wrap">
                                    <span class="i"><img src="{$themePath}/public/i/bs-icon-06.svg" alt=""></span>
                                    <span class="t">4 PIPE FAN COIL <br>AIR-CONDITIONING</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="grid-item">
                        <a href="/" class="item">
                            <span class="item-inner">
                                <span class="item-inner-wrap">
                                    <span class="i"><img src="{$themePath}/public/i/bs-icon-07.svg" alt=""></span>
                                    <span class="t">14 <br>SHOWERS</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="grid-item">
                        <a href="/" class="item">
                            <span class="item-inner">
                                <span class="item-inner-wrap">
                                    <span class="i"><img src="{$themePath}/public/i/bs-icon-08.svg" alt=""></span>
                                    <span class="t">FULLY ACCESSIBLE <br>RAISED FLOORS</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="grid-item">
                        <a href="/" class="item">
                            <span class="item-inner">
                                <span class="item-inner-wrap">
                                    <span class="i"><img src="{$themePath}/public/i/bs-icon-09.svg" alt=""></span>
                                    <span class="t">FLOOR TO CEILING <br>HEIGHT 3.2M</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="grid-item">
                        <a href="/" class="item">
                            <span class="item-inner">
                                <span class="item-inner-wrap">
                                    <span class="i"><img src="{$themePath}/public/i/bs-icon-10.svg" alt=""></span>
                                    <span class="t">1:8 OCCUPATION <br>DENSITY</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="grid-item">
                        <a href="/" class="item">
                            <span class="item-inner">
                                <span class="item-inner-wrap">
                                    <span class="i"><img src="{$themePath}/public/i/bs-icon-11.svg" alt=""></span>
                                    <span class="t">TAXI <br>DROP-OFF POINT</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="grid-item">
                        <a href="/" class="item">
                            <span class="item-inner">
                                <span class="item-inner-wrap">
                                    <span class="i"><img src="{$themePath}/public/i/bs-icon-12.svg" alt=""></span>
                                    <span class="t">6 EXTERNAL TERRACES</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="grid-item">
                        <a href="/" class="item">
                            <span class="item-inner">
                                <span class="item-inner-wrap">
                                    <span class="i"><img src="{$themePath}/public/i/bs-icon-13.svg" alt=""></span>
                                    <span class="t">1GB FIBRE CONNECTED <br>BUILDING</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <span class="grid-item item-space"><span href="/" class="item"><span class="item-inner"></span></span></span>
                    <div class="grid-item">
                        <a href="/" class="item">
                            <span class="item-inner">
                                <span class="item-inner-wrap">
                                    <span class="i"><img src="{$themePath}/public/i/bs-icon-14.svg" alt=""></span>
                                    <span class="t">EXPECTED BREEAM RATING <br>‘EXELENT’</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="grid-item">
                        <a href="/" class="item">
                            <span class="item-inner">
                                <span class="item-inner-wrap">
                                    <span class="i"><img src="{$themePath}/public/i/bs-icon-15.svg" alt=""></span>
                                    <span class="t">FACIAL RECOGNITION SECURITY</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <span class="grid-item item-space"><span href="/" class="item"><span class="item-inner"></span></span></span>
                    <span class="grid-item item-space"><span href="/" class="item"><span class="item-inner"></span></span></span>
                    <div class="grid-item">
                        <a href="/" class="item">
                            <span class="item-inner">
                                <span class="item-inner-wrap">
                                    <span class="i"><img src="{$themePath}/public/i/bs-icon-16.svg" alt=""></span>
                                    <span class="t">LED <br>LIGHTING</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="grid-item">
                        <a href="/" class="item">
                            <span class="item-inner">
                                <span class="item-inner-wrap">
                                    <span class="i"><img src="{$themePath}/public/i/bs-icon-17.svg" alt=""></span>
                                    <span class="t">TOWEL <br>SERVICE</span>
                                </span>
                            </span>
                        </a>
                    </div>
                </div><?php //diamonds-grid ?>




                <div class="text-holder text-holder--2">
                    <h2 class="el-section-title">{get_field('s_areas_title')}</h2>
                    <p>{get_field('s_areas_text')|noescape}</p>
                </div>
            </div>
        </div>

        <div class="section-text-left section-building-areas">
            <div class="tabs-wrap">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active noscroll" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><span>FLOOR AREAS</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link noscroll" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"><span>FLOOR PLANS</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link noscroll" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages" aria-selected="false"><span>SPACE PLANS</span></a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row">
                        <div class="col-md-7 col-lg-8">



                            <figure class="floor-plan building-plan-wrapper">
                                <h6 class="floor-plan__name js-area-plan__name">11th Floor</h6>
                                <p class="floor-plan__description js-area-plan__description">5,557 sq ft / 516 sq m</p>
                                <div class="floor-plan__image js_area_plans building-plan-holder">
                                    {do_shortcode('[mapsvg id="172"]')|noescape }

 {*                                   <img src="{$themePath}/public/i/floor_area_0.png" alt="">
                                    <img src="{$themePath}/public/i/floor_area_1.png" alt="">
                                    <img src="{$themePath}/public/i/floor_area_2.png" alt="">
                                    <img src="{$themePath}/public/i/floor_area_3.png" alt="">
                                    <img src="{$themePath}/public/i/floor_area_4.png" alt="">
                                    <img src="{$themePath}/public/i/floor_area_5.png" alt="">
                                    <img src="{$themePath}/public/i/floor_area_6.png" alt="">
                                    <img src="{$themePath}/public/i/floor_area_7.png" alt="">
                                    <img src="{$themePath}/public/i/floor_area_8.png" alt="">
                                    <img src="{$themePath}/public/i/floor_area_9.png" alt="">
                                    <img src="{$themePath}/public/i/floor_area_10.png" alt="">*}
                                </div>
                            </figure>
                        </div>
                        <!--Table-->
                        <div class="col-md-5 col-lg-4">
                            <div class="params-table">
                                <div class="t-row t-head">
                                    <div class="t-cell">FLOOR</div>
                                    <div class="t-cell">SQ FT</div>
                                    <div class="t-cell">SQ M</div>
                                </div>

                                <div class="js-area-tabs">
                                    <div class="t-multi-row selectable js_area_plans-selectable">
                                        <div class="t-row">
                                            <div class="t-cell">11TH – NG Bailey</div>
                                            <div class="t-cell">5,425</div>
                                            <div class="t-cell">504</div>
                                        </div>
                                        <div class="t-row">
                                            <div class="t-cell">TERRACE AREA</div>
                                            <div class="t-cell">721</div>
                                            <div class="t-cell">67</div>
                                        </div>
                                    </div>
                                    <div class="t-multi-row selectable js_area_plans-selectable">
                                        <div class="t-row">
                                            <div class="t-cell">10TH – NG Bailey</div>
                                            <div class="t-cell">6,239</div>
                                            <div class="t-cell">580</div>
                                        </div>
                                        <div class="t-row">
                                            <div class="t-cell">TERRACE AREA</div>
                                            <div class="t-cell">624</div>
                                            <div class="t-cell">58</div>
                                        </div>
                                    </div>
                                    <div class="t-multi-row selectable js_area_plans-selectable">
                                        <div class="t-row">
                                            <div class="t-cell">9TH - The Berkeley<br>Partnership LLP</div>
                                            <div class="t-cell">6,951</div>
                                            <div class="t-cell">646</div>
                                        </div>
                                        <div class="t-row">
                                            <div class="t-cell">TERRACE AREA</div>
                                            <div class="t-cell">1,173</div>
                                            <div class="t-cell">109</div>
                                        </div>
                                    </div>
                                    <div class="t-row selectable js_area_plans-selectable highlighted">
                                        <div class="t-cell">8TH – TMF GROUP</div>
                                        <div class="t-cell">8,640</div>
                                        <div class="t-cell">803</div>
                                    </div>
                                    <div class="t-row selectable js_area_plans-selectable">
                                        <div class="t-cell">7TH – Under offer</div>
                                        <div class="t-cell">8,639</div>
                                        <div class="t-cell">803</div>
                                    </div>
                                    <div class="t-row selectable js_area_plans-selectable">
                                        <div class="t-cell">6TH – Under offer</div>
                                        <div class="t-cell">8,641</div>
                                        <div class="t-cell">803</div>
                                    </div>
                                    <div class="t-row selectable js_area_plans-selectable">
                                        <div class="t-cell">5TH - HubHub</div>
                                        <div class="t-cell">8,636</div>
                                        <div class="t-cell">802</div>
                                    </div>
                                    <div class="t-row selectable js_area_plans-selectable">
                                        <div class="t-cell">4TH - HubHub</div>
                                        <div class="t-cell">8,642</div>
                                        <div class="t-cell">803</div>
                                    </div>
                                    <div class="t-row selectable js_area_plans-selectable">
                                        <div class="t-cell">3RD - HubHub</div>
                                        <div class="t-cell">8,642</div>
                                        <div class="t-cell">803</div>
                                    </div>
                                    <div class="t-row selectable js_area_plans-selectable">
                                        <div class="t-cell">2ND - HubHub</div>
                                        <div class="t-cell">8,607</div>
                                        <div class="t-cell">800</div>
                                    </div>
                                    <div class="t-row selectable js_area_plans-selectable highlighted">
                                        <div class="t-cell">1ST – Available</div>
                                        <div class="t-cell">5,792</div>
                                        <div class="t-cell">538</div>
                                    </div>
                                    <div class="t-row selectable js_area_plans-selectable">
                                        <div class="t-cell">Ground</div>
                                        <div class="t-cell">1,286</div>
                                        <div class="t-cell">120</div>
                                    </div>

                                </div>
                                <div class="t-row t-foot">
                                    <div class="t-cell">TOTAL</div>
                                    <div class="t-cell">84,854</div>
                                    <div class="t-cell">7,883</div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="row">
                        <div class="col-md-7 col-lg-8">
                            <figure class="floor-plan">
                                <h6 class="floor-plan__name js-floor-plan__name">11th Floor</h6>
                                <p class="floor-plan__description js-floor-plan__description">5,557 sq ft / 516 sq m</p>
                                <div class="floor-plan__image js-floor-plan__image">
                                    <img src="{$themePath}/public/i/FloorPlan_11@2x.png" alt="">
                                    <img src="{$themePath}/public/i/FloorPlan_10@2x.png" alt="">
                                    <img src="{$themePath}/public/i/FloorPlan_9@2x.png" alt="">
                                    <img src="{$themePath}/public/i/FloorPlan_2-8@2x.png" alt="">
                                    <img src="{$themePath}/public/i/FloorPlan_2-8@2x.png" alt="">
                                    <img src="{$themePath}/public/i/FloorPlan_2-8@2x.png" alt="">
                                    <img src="{$themePath}/public/i/FloorPlan_2-8@2x.png" alt="">
                                    <img src="{$themePath}/public/i/FloorPlan_2-8@2x.png" alt="">
                                    <img src="{$themePath}/public/i/FloorPlan_2-8@2x.png" alt="">
                                    <img src="{$themePath}/public/i/FloorPlan_2-8@2x.png" alt="">
                                    <img src="{$themePath}/public/i/FloorPlan_1@2x.png" alt="">
                                    <img src="{$themePath}/public/i/FloorPlan_0@2x.png" alt="">
                                </div>
                                <div class="floor-plan__control floor-plan__control--download"></div>
                                <div class="floor-plan__control floor-plan__control--expand js-popup-trigger-1"></div>
                                <div class="floor-plan__control floor-plan__control--previous js-floor-plan__control--previous"></div>
                                <div class="floor-plan__control floor-plan__control--next js-floor-plan__control--next"></div>
                                <div class="floor-plan__compass"></div>
                            </figure>


                            <div class="popup-floor-plan js-popup-1">
                                <div class="popup-floor-plan__overlay js-popup-trigger-1"></div>
                                <div class="popup-floor-plan__plate">
                                    <div class="popup-floor-plan__header">
                                        <h6 class="popup-floor-plan__name js-popup-floor-plan__name">11th Floor</h6>
                                        <p class="popup-floor-plan__description js-popup-floor-plan__description">5,557 sq ft / 516 sq m</p>
                                        <button class="popup-floor-plan__close js-popup-trigger-1"></button>
                                    </div>
                                    <div class="popup-floor-plan__content">
                                        <div class="popup-floor-plan__image js-popup-floor-plan__image">
                                            <img src="{$themePath}/public/i/FloorPlan_11@2x.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Table-->
                        <div class="col-md-5 col-lg-4">
                            <div class="params-table">
                                <div class="t-row t-head">
                                    <div class="t-cell">FLOOR</div>
                                    <div class="t-cell">SQ FT</div>
                                    <div class="t-cell">SQ M</div>
                                </div>

                                <div class="js-floor-tabs">
                                    <div class="t-multi-row selectable selected js_floor_plans-selectable">
                                        <div class="t-row">
                                            <div class="t-cell">11TH – NG Bailey</div>
                                            <div class="t-cell">5,425</div>
                                            <div class="t-cell">504</div>
                                        </div>
                                        <div class="t-row">
                                            <div class="t-cell">TERRACE AREA</div>
                                            <div class="t-cell">721</div>
                                            <div class="t-cell">67</div>
                                        </div>
                                    </div>
                                    <div class="t-multi-row selectable js_floor_plans-selectable">
                                        <div class="t-row">
                                            <div class="t-cell">10TH – NG Bailey</div>
                                            <div class="t-cell">6,239</div>
                                            <div class="t-cell">580</div>
                                        </div>
                                        <div class="t-row">
                                            <div class="t-cell">TERRACE AREA</div>
                                            <div class="t-cell">624</div>
                                            <div class="t-cell">58</div>
                                        </div>
                                    </div>
                                    <div class="t-multi-row selectable js_floor_plans-selectable">
                                        <div class="t-row">
                                            <div class="t-cell">9TH - The Berkeley<br>Partnership LLP</div>
                                            <div class="t-cell">6,951</div>
                                            <div class="t-cell">646</div>
                                        </div>
                                        <div class="t-row">
                                            <div class="t-cell">TERRACE AREA</div>
                                            <div class="t-cell">1,173</div>
                                            <div class="t-cell">109</div>
                                        </div>
                                    </div>
                                    <div class="t-row selectable js_floor_plans-selectable highlighted">
                                        <div class="t-cell">8TH – Available</div>
                                        <div class="t-cell">8,640</div>
                                        <div class="t-cell">803</div>
                                    </div>
                                    <div class="t-row selectable js_floor_plans-selectable">
                                        <div class="t-cell">7TH – Under offer</div>
                                        <div class="t-cell">8,639</div>
                                        <div class="t-cell">803</div>
                                    </div>
                                    <div class="t-row selectable js_floor_plans-selectable">
                                        <div class="t-cell">6TH – Under offer</div>
                                        <div class="t-cell">8,641</div>
                                        <div class="t-cell">803</div>
                                    </div>
                                    <div class="t-row selectable js_floor_plans-selectable">
                                        <div class="t-cell">5TH – HubHub</div>
                                        <div class="t-cell">8,636</div>
                                        <div class="t-cell">802</div>
                                    </div>
                                    <div class="t-row selectable js_floor_plans-selectable">
                                        <div class="t-cell">4TH – HubHub</div>
                                        <div class="t-cell">8,642</div>
                                        <div class="t-cell">803</div>
                                    </div>
                                    <div class="t-row selectable js_floor_plans-selectable">
                                        <div class="t-cell">3RD – HubHub</div>
                                        <div class="t-cell">8,642</div>
                                        <div class="t-cell">803</div>
                                    </div>
                                    <div class="t-row selectable js_floor_plans-selectable">
                                        <div class="t-cell">2ND – HubHub</div>
                                        <div class="t-cell">8,607</div>
                                        <div class="t-cell">800</div>
                                    </div>
                                    <div class="t-row selectable js_floor_plans-selectable highlighted">
                                        <div class="t-cell">1ST – Available</div>
                                        <div class="t-cell">5,792</div>
                                        <div class="t-cell">538</div>
                                    </div>
                                    <div class="t-row selectable js_floor_plans-selectable">
                                        <div class="t-cell">Ground</div>
                                        <div class="t-cell">1,286</div>
                                        <div class="t-cell">120</div>
                                    </div>
                                </div>
                                <div class="t-row t-foot">
                                    <div class="t-cell">TOTAL</div>
                                    <div class="t-cell">84,854</div>
                                    <div class="t-cell">7,883</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">
                    <div class="row">
                        <div class="col-md-7 col-lg-8">
                            <figure class="floor-plan">
                                <h6 class="floor-plan__name js-space-plan__name">11th Floor</h6>
                                <p class="floor-plan__description js-space-plan__description">5,557 sq ft / 516 sq m</p>
                                <div class="floor-plan__image js_space_plans">
                                    <img src="{$themePath}/public/i/SpacePlans_1_CellularMultiFloorOccupier@2x.png" alt="">
                                    <img src="{$themePath}/public/i/SpacePlans_2_OpenPlanMultiFloorOccupier@2x.png" alt="">
                                    <img src="{$themePath}/public/i/SpacePlans_3_OpenPlanSingleFloorOccupier@2x.png" alt="">
                                    <img src="{$themePath}/public/i/SpacePlans_4_OpenPlanSingleFloorOccupier@2x.png" alt="">
                                    <img src="{$themePath}/public/i/SpacePlans_5_FrontOfHouseMultiFloorOccupier@2x.png" alt="">
                                    <img src="{$themePath}/public/i/SpacePlans_6_FrontOfHouseMultiFloorOccupier@2x.png" alt="">
                                </div>
                                <div class="floor-plan__control floor-plan__control--download"></div>
                                <div class="floor-plan__control floor-plan__control--expand js-popup-trigger-1"></div>
                                <div class="floor-plan__control floor-plan__control--previous js_space_plans--previous"></div>
                                <div class="floor-plan__control floor-plan__control--next js_space_plans--next"></div>
                                <div class="floor-plan__compass"></div>
                            </figure>


                            <div class="popup-floor-plan js-popup-1">
                                <div class="popup-floor-plan__overlay js-popup-trigger-1"></div>
                                <div class="popup-floor-plan__plate">
                                    <div class="popup-floor-plan__header">
                                        <h6 class="popup-floor-plan__name js-popup-space-plan__name">UK LEGAL LEVEL 3</h6>
                                        <p class="popup-floor-plan__description js-popup-space-plan__description">8,654 sq ft / 804 sq m</p>
                                        <button class="popup-floor-plan__close js-popup-trigger-1"></button>
                                    </div>
                                    <div class="popup-floor-plan__content">
                                        <div class="popup-floor-plan__image js-popup-space-plan__image">
                                            <img src="{$themePath}/public/i/SpacePlans_1_CellularMultiFloorOccupier@2x.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Table-->
                        <div class="col-md-5 col-lg-4">
                            <div class="params-table">
                                <div class="t-row t-head">
                                    <div class="t-cell">FLOOR</div>
                                    <div class="t-cell">SQ FT</div>
                                    <div class="t-cell">SQ M</div>
                                </div>

                                <div class="js-space-tabs">
                                    <div class="t-row selectable selected js_space_plans-selectable">
                                        <div class="t-cell">CELLULAR MULTI-FLOOR OCCUPIER</div>
                                        <div class="t-cell">8,622</div>
                                        <div class="t-cell">801</div>
                                    </div>
                                    <div class="t-row selectable js_space_plans-selectable">
                                        <div class="t-cell">OPEN-PLAN MULTI-FLOOR OCCUPIER</div>
                                        <div class="t-cell">8,622</div>
                                        <div class="t-cell">801</div>
                                    </div>
                                    <div class="t-row selectable js_space_plans-selectable">
                                        <div class="t-cell">OPEN-PLAN SINGLE-FLOOR OCCUPIER 1:9 SQ M</div>
                                        <div class="t-cell">8,622</div>
                                        <div class="t-cell">801</div>
                                    </div>
                                    <div class="t-row selectable js_space_plans-selectable">
                                        <div class="t-cell">OPEN-PLAN SINGLE-FLOOR OCCUPIER 1:10 SQ M</div>
                                        <div class="t-cell">8,622</div>
                                        <div class="t-cell">801</div>
                                    </div>
                                    <div class="t-row selectable js_space_plans-selectable">
                                        <div class="t-cell">FRONT OF HOUSE MULTI-FLOOR OCCUPIER (9TH FLOOR)</div>
                                        <div class="t-cell">7,110</div>
                                        <div class="t-cell">661</div>
                                    </div>
                                    <div class="t-row selectable js_space_plans-selectable">
                                        <div class="t-cell">FRONT OF HOUSE MULTI-FLOOR OCCUPIER (10TH FLOOR)</div>
                                        <div class="t-cell">6,382</div>
                                        <div class="t-cell">593</div>
                                    </div>
                                </div>
                                <div class="js-spaceplans-details">
                                    <!--spacePlanDetail-->
                                    <div class="js-spaceplan-detail">
                                        <div class="t-multi-row-details">
                                            <div class="t-row t-foot">
                                                <div class="t-cell">NET INTERNAL AREA</div>
                                                <div class="t-cell">8,622</div>
                                                <div class="t-cell">801</div>
                                            </div>
                                            <div class="t-row">
                                                <div class="t-cell">FEE EARNER WORKSTATIONS</div>
                                                <div class="t-cell"></div>
                                                <div class="t-cell">46</div>
                                            </div>
                                            <div class="t-row">
                                                <div class="t-cell">ADMINISTRATIVE ASSISTANTS</div>
                                                <div class="t-cell"></div>
                                                <div class="t-cell">6</div>
                                            </div>
                                            <div class="t-row">
                                                <div class="t-cell">PARALEGAL POSITIONS</div>
                                                <div class="t-cell"></div>
                                                <div class="t-cell">3</div>
                                            </div>
                                            <div class="t-row">
                                                <div class="t-cell">BUSINESS SUPPORT WORKSTATIONS</div>
                                                <div class="t-cell"></div>
                                                <div class="t-cell">2</div>
                                            </div>
                                            <div class="t-row">
                                                <div class="t-cell">TOTAL WORKSTATIONS</div>
                                                <div class="t-cell"></div>
                                                <div class="t-cell">57</div>
                                            </div>
                                            <div class="t-row t-row-borders">
                                                <div class="t-cell">MEETING ROOMS</div>
                                                <div class="t-cell"></div>
                                                <div class="t-cell">-</div>
                                            </div>
                                            <div class="t-row">
                                                <div class="t-cell">IPR PER FE WORKSTATIONS</div>
                                                <div class="t-cell">187 SQ FT</div>
                                                <div class="t-cell">17 SQ M</div>
                                            </div>
                                            <div class="t-row">
                                                <div class="t-cell">IPR PER TOTAL WORKSTATIONS</div>
                                                <div class="t-cell">151 SQ FT</div>
                                                <div class="t-cell">14 SQ M</div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--spacePlanDetail-->
                                    <div class="js-spaceplan-detail js-hide">
                                        <div class="t-multi-row-details">
                                            <div class="t-row t-foot">
                                                <div class="t-cell">NET INTERNAL AREA</div>
                                                <div class="t-cell">8,622</div>
                                                <div class="t-cell">801</div>
                                            </div>
                                            <div class="t-row">
                                                <div class="t-cell">OPEN-PLAN WORKSTATIONS</div>
                                                <div class="t-cell"></div>
                                                <div class="t-cell">76</div>
                                            </div>
                                            <div class="t-row">
                                                <div class="t-cell">FLEXIBLE/HOT DESKS</div>
                                                <div class="t-cell"></div>
                                                <div class="t-cell">12</div>
                                            </div>
                                            <div class="t-row">
                                                <div class="t-cell">ALTERNATIVE WORK POSITIONS</div>
                                                <div class="t-cell"></div>
                                                <div class="t-cell">8</div>
                                            </div>
                                            <div class="t-row">
                                                <div class="t-cell">TOTAL WORKSTATIONS</div>
                                                <div class="t-cell"></div>
                                                <div class="t-cell">96</div>
                                            </div>
                                            <div class="t-row t-row-borders">
                                                <div class="t-cell">MEETING ROOMS</div>
                                                <div class="t-cell">NO.</div>
                                                <div class="t-cell">SEATS</div>
                                            </div>
                                            <div class="t-row">
                                                    <div class="t-cell">12 SEAT MULTIFUNCTION</div>
                                                    <div class="t-cell">1</div>
                                                    <div class="t-cell">12</div>
                                            </div>
                                            <div class="t-row">
                                                <div class="t-cell">14 SEAT MULTIFUNCTION</div>
                                                <div class="t-cell">1</div>
                                                <div class="t-cell">14</div>
                                            </div>
                                            <div class="t-row">
                                                <div class="t-cell">TOTAL</div>
                                                <div class="t-cell">2</div>
                                                <div class="t-cell">26</div>
                                            </div>
                                            <div class="t-row t-row-borders">
                                                <div class="t-cell">IPR PER TOTAL WORKSTATIONS</div>
                                                <div class="t-cell">90 SQ FT</div>
                                                <div class="t-cell">8 SQ M</div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--spacePlanDetail-->
                                    <div class="js-spaceplan-detail js-hide">
                                        <div class="t-multi-row-details">
                                            <div class="t-row t-foot">
                                                <div class="t-cell">NET INTERNAL AREA</div>
                                                <div class="t-cell">8,622</div>
                                                <div class="t-cell">801</div>
                                            </div>
                                            <div class="t-row">
                                                <div class="t-cell">OPEN-PLAN WORKSTATIONS</div>
                                                <div class="t-cell"></div>
                                                <div class="t-cell">66</div>
                                            </div>
                                            <div class="t-row">
                                                <div class="t-cell">RECEPTIONISTS</div>
                                                <div class="t-cell"></div>
                                                <div class="t-cell">2</div>
                                            </div>
                                            <div class="t-row">
                                                <div class="t-cell">ALTERNATIVE/HOT DESK SEATING</div>
                                                <div class="t-cell"></div>
                                                <div class="t-cell">20</div>
                                            </div>
                                            <div class="t-row">
                                                <div class="t-cell">TOTAL WORKSTATIONS</div>
                                                <div class="t-cell"></div>
                                                <div class="t-cell">88</div>
                                            </div>
                                            <div class="t-row t-row-borders">
                                                <div class="t-cell">MEETING ROOMS</div>
                                                <div class="t-cell">NO.</div>
                                                <div class="t-cell">SEATS</div>
                                            </div>
                                            <div class="t-row">
                                                <div class="t-cell">8 SEAT MEETING</div>
                                                <div class="t-cell">2</div>
                                                <div class="t-cell">16</div>
                                            </div>
                                            <div class="t-row">
                                                <div class="t-cell">14 SEAT MULTIFUNCTION</div>
                                                <div class="t-cell">1</div>
                                                <div class="t-cell">14</div>
                                            </div>
                                            <div class="t-row">
                                                <div class="t-cell">TOTAL</div>
                                                <div class="t-cell">3</div>
                                                <div class="t-cell">30</div>
                                            </div>
                                            <div class="t-row t-row-borders">
                                                <div class="t-cell">IPR PER TOTAL WORKSTATIONS</div>
                                                <div class="t-cell">98 SQ FT</div>
                                                <div class="t-cell">9 SQ M</div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--spacePlanDetail-->
                                    <div class="js-spaceplan-detail js-hide">
                                        <div class="t-multi-row-details">
                                            <div class="t-row t-foot">
                                                <div class="t-cell">NET INTERNAL AREA</div>
                                                <div class="t-cell">8,622</div>
                                                <div class="t-cell">801</div>
                                            </div>
                                            <div class="t-row">
                                                <div class="t-cell">OFFICES</div>
                                                <div class="t-cell"></div>
                                                <div class="t-cell">1</div>
                                            </div>
                                            <div class="t-row">
                                                <div class="t-cell">OPEN-PLAN WORKSTATIONS</div>
                                                <div class="t-cell"></div>
                                                <div class="t-cell">74</div>
                                            </div>
                                            <div class="t-row">
                                                <div class="t-cell">RECEPTIONISTS</div>
                                                <div class="t-cell"></div>
                                                <div class="t-cell">2</div>
                                            </div>
                                            <div class="t-row">
                                                <div class="t-cell">TOTAL WORKSTATIONS</div>
                                                <div class="t-cell"></div>
                                                <div class="t-cell">77</div>
                                            </div>
                                            <div class="t-row t-row-borders">
                                                <div class="t-cell">MEETING ROOMS</div>
                                                <div class="t-cell">NO.</div>
                                                <div class="t-cell">SEATS</div>
                                            </div>
                                            <div class="t-row">
                                                <div class="t-cell">4 SEAT MEETING</div>
                                                <div class="t-cell">1</div>
                                                <div class="t-cell">4</div>
                                            </div>
                                            <div class="t-row">
                                                <div class="t-cell">12 SEAT</div>
                                                <div class="t-cell">1</div>
                                                <div class="t-cell">12</div>
                                            </div>
                                            <div class="t-row">
                                                <div class="t-cell">12 SEAT MULTIFUNCTION</div>
                                                <div class="t-cell">2</div>
                                                <div class="t-cell">24</div>
                                            </div>
                                            <div class="t-row">
                                                <div class="t-cell">TOTAL</div>
                                                <div class="t-cell">4</div>
                                                <div class="t-cell">40</div>
                                            </div>
                                            <div class="t-row t-row-borders">
                                                <div class="t-cell">IPR PER TOTAL WORKSTATIONS</div>
                                                <div class="t-cell">112 SQ FT</div>
                                                <div class="t-cell">10 SQ M</div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--spacePlanDetail-->
                                    <div class="js-spaceplan-detail js-hide">
                                        <div class="t-multi-row-details">
                                            <div class="t-row t-foot">
                                                <div class="t-cell">NET INTERNAL AREA</div>
                                                <div class="t-cell">7,110</div>
                                                <div class="t-cell">661</div>
                                            </div>
                                            <div class="t-row t-row-borders">
                                                <div class="t-cell">MEETING ROOMS</div>
                                                <div class="t-cell">NO.</div>
                                                <div class="t-cell">SEATS</div>
                                            </div>
                                            <div class="t-row">
                                                <div class="t-cell">4 SEATER MEETING</div>
                                                <div class="t-cell">2</div>
                                                <div class="t-cell">8</div>
                                            </div>
                                            <div class="t-row">
                                                <div class="t-cell">8 SEATER MEETING</div>
                                                <div class="t-cell">1</div>
                                                <div class="t-cell">8</div>
                                            </div>
                                            <div class="t-row">
                                                <div class="t-cell">10 SEATER MEETING</div>
                                                <div class="t-cell">6</div>
                                                <div class="t-cell">60</div>
                                            </div>
                                            <div class="t-row">
                                                <div class="t-cell">16 SEAT MULTIFUNCTION</div>
                                                <div class="t-cell">1</div>
                                                <div class="t-cell">16</div>
                                            </div>
                                            <div class="t-row">
                                                <div class="t-cell">TOTAL SEAT COUNT</div>
                                                <div class="t-cell">10</div>
                                                <div class="t-cell">92</div>
                                            </div>
                                            <div class="t-row t-row-borders">
                                                <div class="t-cell">IPR PER TOTAL WORKSTATIONS</div>
                                                <div class="t-cell">77 SQ FT</div>
                                                <div class="t-cell">7 SQ M</div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--spacePlanDetail-->
                                    <div class="js-spaceplan-detail js-hide">
                                        <div class="t-multi-row-details">
                                            <div class="t-row t-foot">
                                                <div class="t-cell">NET INTERNAL AREA</div>
                                                <div class="t-cell">6,382</div>
                                                <div class="t-cell">593</div>
                                            </div>
                                            <div class="t-row t-row-borders">
                                                <div class="t-cell">MEETING ROOMS</div>
                                                <div class="t-cell">NO.</div>
                                                <div class="t-cell">SEATS</div>
                                            </div>
                                            <div class="t-row">
                                                <div class="t-cell">10 SEAT MEETING</div>
                                                <div class="t-cell">2</div>
                                                <div class="t-cell">20</div>
                                            </div>
                                            <div class="t-row">
                                                <div class="t-cell">12 SEAT MEETING</div>
                                                <div class="t-cell">1</div>
                                                <div class="t-cell">12</div>
                                            </div>
                                            <div class="t-row">
                                                <div class="t-cell">14 SEAT MEETING</div>
                                                <div class="t-cell">1</div>
                                                <div class="t-cell">14</div>
                                            </div>
                                            <div class="t-row">
                                                <div class="t-cell">18 SEAT MULTIFUNCTION</div>
                                                <div class="t-cell">2</div>
                                                <div class="t-cell">36</div>
                                            </div>
                                            <div class="t-row">
                                                <div class="t-cell">TOTAL SEAT COUNT</div>
                                                <div class="t-cell">6</div>
                                                <div class="t-cell">82</div>
                                            </div>
                                            <div class="t-row t-row-borders">
                                                <div class="t-cell">IPR PER TOTAL WORKSTATIONS</div>
                                                <div class="t-cell">78 SQ FT</div>
                                                <div class="t-cell">7 SQ M</div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

        {include 'includes/contact.latte' }

    </main>

    {include 'includes/footer.latte' }

</div>
