{layout '@layout.latte'}

{$title = 'HB Reavis - 20Farringdon'}

{block body}

<div id="page" class="common-page">

    {*{include 'includes/cookies.inc.latte' }*}
    {include 'includes/header.latte' }

    <main id="main">

        <div class="section-top">
            <div class="section-inner">
                <div class="section-wrap">
                    <div class="text-wrap">
                        <h1 n:if="get_field('s_top_title')" class="title"><span class="t">{get_field('s_top_title')|noescape}</span></h1>
                        <div n:ifcontent class="text formated-output">{get_field('s_top_text')|noescape}</div>
                    </div>
                    <div n:if="get_field('s_top_image')" class="image-wrap">
                        <span class="image" style="background-image:url('{get_field('s_top_image')|noescape}');"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-common-content">
            <div class="section-inner">
                <div class="formated-output">
                    {wpautop( $post->post_content )|noescape}
                </div>
            </div>
        </div>

        {include 'includes/contact.latte' }

    </main>

    {include 'includes/footer.latte' }

</div>