{layout '@layout.latte'}

{$title = 'HB Reavis - 20Farringdon'}

{block body}

<div id="page" class="contact">

    {*{include 'includes/cookies.inc.latte' }*}
    {include 'includes/header.latte' }

    <main id="main">

        <div class="section-contact">
            <div class="section-bg"></div>
            <div class="section-inner">
                <div class="contacts-wrap">
                    <h1 class="title">Contact</h1>
                    <div class="items">
                        {foreach get_fields('option')['location'] as $location}
                            <div class="item formated-output inv">
                                <h4>{$location['location_name']}</h4>
                                {foreach $location['address'] as $address}
                                    <p>
                                        <strong>{$address['name']}</strong><br>
                                        <a href="tel:{$address['phone']|noescape}" onclick="Tools.Tracking.track('footer/phone/' + {$address['phone']}, 'click')" >{$address['phone']|noescape}</a><br>
                                        <a href="mailto:{$address['mail']|noescape}" onclick="Tools.Tracking.track('footer/email/' + {$address['mail']}, 'click')" >{$address['mail']|noescape}</a></p>
                                    </p>
                                {/foreach}
                            </div>
                        {/foreach}
                    </div>
                </div>

                {do_shortcode('[hf_form slug="contact"]')|noescape}

                {if 0}
                <form class="form-wrap hf-form-29">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="pb-3">
                                <input type="text" placeholder="Company name" class="el-field-text">
                            </div>
                            <div class="pb-3">
                                <input type="text" placeholder="Your name" class="el-field-text">
                            </div>
                            <div class="pb-3">
                                <input type="email" placeholder="Email" class="el-field-text">
                            </div>
                            <div class="pb-3 pb-sm-13">
                                <input type="phone" placeholder="Mobile number" class="el-field-text">
                            </div>
                            <div class="pb-3">
                                <p>Required area in sq ft:</p>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <input type="text" placeholder="From" class="el-field-text mb-3 mt-sm-0">
                                </div>
                                <div class="col-xs-6">
                                    <input type="text" placeholder="To" class="el-field-text mb-3 mt-sm-0">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <textarea placeholder="Message" class="el-field-textarea"></textarea>
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-auto pt-6">
                            <button type="submit" class="el-field-submit">Submit</button>
                        </div>
                    </div>
                </form>
                {/if}
            </div>

        </div>

        <div n:if="0" id="download" class="section-downloadable-info">
            <div class="section-bg">
                <div class="section-inner">
                    <h2 class="el-section-title">{get_field('s_downl_title')}</h2>
                    <div class="row">
                        <div class="text-wrap col-md-5 pb-6">
                            <p>{get_field('s_downl_text')}</p>
                        </div>
                        <div class="form-wrap col-md-7">
                            {do_shortcode('[hf_form slug="download"]')|noescape}
                        </div>
                    </div>
                    <div class="row gdpr-link__flex-end">
                        <div class="form-wrap col-md-7 gdpr-link__flex-end">
                            <p class="gdpr-link">Find out how we look after your <a href="{get_fields('option')['s_download_link']['url']}" target="{get_fields('option')['s_download_link']['terget']}">personal data.</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-follow-us">
            <div class="section-inner">
                <h2 class="el-section-title">{get_field('s_follow_text')}</h2>
                <ul class="social-links">
                    <li><a target="_blank" href="{get_fields('option')['link_facebook']}" class="item facebook"><i class="icon-facebook"></i></a></li>
                    <li><a target="_blank" href="{get_fields('option')['link_linkedin']}" class="item linkedin"><i class="icon-linkedin-in"></i></a></li>
                    <li><a target="_blank" href="{get_fields('option')['link_twitter']}" class="item twitter"><i class="icon-twitter"></i></a></li>
                    <li><a target="_blank" href="{get_fields('option')['link_instagram']}" class="item instagram"><i class="icon-instagram"></i></a></li>
                </ul>
            </div>
        </div>

    </main>

    {include 'includes/footer.latte' }

</div>