{layout '@layout.latte'}

{$title = 'HB Reavis - 20Farringdon'}

{block body}

<div id="page" class="p3dview">

    {*{include 'includes/cookies.inc.latte' }*}
    {include 'includes/header.latte' }

    <main id="main">

        <div class="section-top">
            <div class="section-inner">
                <div class="section-wrap">
                    <div class="text-wrap">
                        <h1 n:if="get_field('s_top_title')" class="title"><span class="t">{get_field('s_top_title')|noescape}</span></h1>
                        <div n:ifcontent class="text formated-output">{get_field('s_top_text')|noescape}</div>
                    </div>
                    <div n:if="get_field('s_top_image')" class="image-wrap">
                        <span class="image" style="background-image:url('{get_field('s_top_image')|noescape}');"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-videos">
            <div class="section-inner">
                <div class="items">
                    <div class="item">
                        <h2 class="title">EXPLORE LIFE AT 20 FARRINGDON STREET</h2>
                        <div class="canvas-wrap">
                            <div class="video-cover" style="background-image:url('{$themePath}/public/i/explore_video_cover_01.png');"></div>
                            <div class="video-placeholder" id="player1"></div>
                        </div>
                    </div>
                    <div class="item">
                        <h2 class="title">WATCH THE TIMELAPSE</h2>
                        <div class="canvas-wrap">
                            <div class="video-cover" style="background-image:url('{$themePath}/public/i/explore_video_cover_02.png');"></div>
                            <div class="video-placeholder" id="player2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{*        <div class="section-video">*}
{*            <div class="section-inner">*}
{*                <div class="canvas-wrap">*}
{*                <iframe width="600" height="315" src="https://www.youtube.com/embed/YIf-85mR6Ck" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>*}
{*                </div>*}
{*            </div>*}
{*        </div>*}

{*        <div class="section-video">*}
{*            <div class="section-inner">*}
{*                <div class="canvas-wrap">*}
{*                    <iframe width="600" height="315" src="https://www.youtube.com/embed/HPjJhmjkDoA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>*}
{*                </div>*}
{*            </div>*}
{*        </div>*}

        <div n:if="get_field('s_3dv_src')" class="section-3dview">
            <div class="section-inner">
                <h2 class="section-title">TOUR THE BUILDING</h2>
                <div class="canvas-wrap">
                    <iframe src="{get_field('s_3dv_src')|noescape}" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>

        <div n:if="get_field('s_gallery')" class="section-slider section-location-slider">
            <div n:if="get_field('s_gallety_title')" class="section-inner">
                <h2 class="el-section-title">{get_field('s_gallety_title')|noescape}</h2>
            </div>
            <div class="section-bg">
                <div class="section-inner">
                    <div class="slider">
                        <div n:foreach="get_field('s_gallery') as $image" class="slider-item">
                            <a>
                                <span n:if="$image['image']" class="image" style="background-image:url('{$image['image']}');"></span>
                                <span n:ifcontent class="description">{$image['text']}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {include 'includes/contact.latte' }

    </main>

    {include 'includes/footer.latte' }

</div>