{layout '@layout.latte'}

{$title = 'HB Reavis - 20Farringdon'}

{block body}

<div id="page" class="front">

    {*{include 'includes/cookies.inc.latte' }*}
    {include 'includes/header.latte' }

    <main id="main">
        <div class="section-top">
            <div class="section-inner">
                <div class="section-wrap">
                    <div class="text-wrap">
                        <h1 class="title"><span class="t">{get_field('s_top_title')|noescape}</span></h1>
                        <div class="text">
                            <p>{get_field('s_top_text')}</p>
                        </div>
                        <a n:href="building" class="el-btn">{get_field('s_top_button_text')}</a>
                    </div>
                    <div class="image-wrap">
                        <span class="image" style="background-image:url('{get_field('s_top_image')}');"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-text-left section-front-intro">
            <div class="section-inner">
                <div class="row">
                    <div class="text-wrap">
                        <h2 class="el-section-title">{get_field('s_intro_title')}</h2>
                        <p>{get_field('s_intro_text')}</p>
                        <a n:href="building" class="el-readmore">{get_field('s_intro_button_text')}</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-slider section-front-slider">
            <div class="section-bg">
                <div class="section-inner">
                    <div class="slider">
                        <div n:foreach="get_field('s_gallery') as $image" class="slider-item"><a><span class="image" style="background-image:url('{$image['image']|noescape}');"></span></a></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-articles">
            <div class="section-inner">
                <div class="row">
                    <div class="col-md-6 offset-md-6">
                        <h2 class="el-section-title">{get_field('s_title')|noescape}</h2>
                    </div>
                </div>
                <div class="articles row">
                    <div n:foreach="get_field('s_articles') as $article" class="col-md-4">
                        <article class="article-item" data-link="/">
                            <a n:href="building" class="image"><img src="{$article['image']}" alt=""></a>
                            <h3 class="title"><a n:href="building" >{$article['title']}</a></h3>
                            <div class="text">
                                <p>{$article['text']}</p>
                            </div>
                            <a n:href="building" class="el-readmore">{$article['button']}</a>
                        </article>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-text-left section-front-creative">
            <span class="bg-triangle"></span>
            <div class="section-inner">
                <div class="row">
                    <div class="text-wrap">
                        <h2 class="el-section-title">{get_field('s_creative_title')}</h2>
                        <p>{get_field('s_creative_text')}</p>
                        <a n:href="location" class="el-readmore">{get_field('s_creative_button')}</a>
                    </div>
                    <div class="diamonds-items">
                        <a n:foreach="get_field('s_creative_diamond') as $diamond" n:href="location" class="item">
                            <span class="item-inner">
                                <span class="item-text">
                                    <span class="num">{$diamond['number']}</span>
                                    <span class="t">{$diamond['text']}</span>
                                </span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-location">
            <div class="section-inner">
                <div class="row align-items-end js-map">
                    <div class="col-md-8 map-wrap">
                        <div class="map-inner">
                            <div class="map-embed js-map__embed" data-lat="51.515716" data-lng="-0.104655" data-zoom="17" style="position: initial !important;"></div>
                           {* <img src="{$themePath}/public/i/img-map.png" alt="">*}
                        </div>
                    </div>
                    <div class="col-md-4 opt-wrap">
                        <a n:foreach="get_field('s_location') as $image" n:href="location" class="item"><img src="{$image['image']}" alt=""><span class="t">{$image['text']|noescape}</span></a>
                    </div>
                </div>
            </div>
        </div>

        {include 'includes/contact.latte' }

    </main>

    {include 'includes/footer.latte' }

</div>