{layout '@layout.latte'}

{$title = 'Location'}

{$title = 'HB Reavis - 20Farringdon'}

{block body}

<div id="page" class="location">

{*    {include 'includes/cookies.inc.latte' }*}
    {include 'includes/header.latte' }

    <main id="main">

        <div class="section-top">
            <div class="section-inner">
                <div class="section-wrap">
                    <div class="text-wrap">
                        <h1 class="title"><span class="t">{get_field('s_top_title')|noescape}</span></h1>
                        <div class="text formated-output">
                            {get_field('s_top_text')|noescape}
                        </div>
                    </div>
                    <div class="image-wrap">
                        <span class="image" style="background-image:url('{get_field('s_top_image')|noescape}');"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-location-directions">
            <div class="section-inner">
                <div class="section-title">
                    <span class="station-signs">
                        <img src="{$themePath}/public/i/station-symbol-crossrail.svg" alt="Crossrail"><br>
                        <img src="{$themePath}/public/i/station-symbol-line-circle.svg" alt="Circle">
                        <img src="{$themePath}/public/i/station-symbol-line-metropolitan.svg" alt="Metropolitan">
                        <img src="{$themePath}/public/i/station-symbol-line-hammersmith.svg" alt="Hammersmith & City">
                        <img src="{$themePath}/public/i/station-symbol-overground.svg" alt="Overground">
                        <img src="{$themePath}/public/i/station-symbol-rail.svg" alt="National Rail">
                        <!--<img src="{$themePath}/public/i/station-symbol-airport.svg" alt="Airport">
                        <img src="{$themePath}/public/i/station-symbol-rail.svg" alt="National Rail">
                        <img src="{$themePath}/public/i/station-symbol-crossrail.svg" alt="Crossrail">
                        <img src="{$themePath}/public/i/station-symbol-overground.svg" alt="Overground">
                        <img src="{$themePath}/public/i/station-symbol-line-bakerloo.svg" alt="Bakerloo">
                        <img src="{$themePath}/public/i/station-symbol-line-central.svg" alt="Central">
                        <img src="{$themePath}/public/i/station-symbol-line-circle.svg" alt="Circle">
                        <img src="{$themePath}/public/i/station-symbol-line-district.svg" alt="District">
                        <img src="{$themePath}/public/i/station-symbol-line-hammersmith.svg" alt="Hammersmith & City">
                        <img src="{$themePath}/public/i/station-symbol-line-jubilee.svg" alt="Jubilee">
                        <img src="{$themePath}/public/i/station-symbol-line-metropolitan.svg" alt="Metropolitan">
                        <img src="{$themePath}/public/i/station-symbol-line-northern.svg" alt="Northern">
                        <img src="{$themePath}/public/i/station-symbol-line-piccadilly.svg" alt="Piccadilly">
                        <img src="{$themePath}/public/i/station-symbol-line-victoria.svg" alt="Victoria">
                        <img src="{$themePath}/public/i/station-symbol-line-waterloo.svg" alt="Waterloo & City">-->
                    </span>
                    <h2 class="title">{get_field('s_map_center')|noescape}</h2>
                </div>
                <div class="directions">
                    <div class="direction">
                        <h3 class="direction-name"><span class="l">Direction</span><span class="t">LUTON AIRPORT</span></h3>
                        <ul class="stations">
                            <li class="station">
                                <span class="station-signs">
                                    <img src="{$themePath}/public/i/station-symbol-line-northern.svg" alt="Northern">
                                    <img src="{$themePath}/public/i/station-symbol-line-piccadilly.svg" alt="Piccadilly">
                                    <img src="{$themePath}/public/i/station-symbol-line-victoria.svg" alt="Victoria">
                                    <img src="{$themePath}/public/i/station-symbol-line-circle.svg" alt="Circle">
                                    <img src="{$themePath}/public/i/station-symbol-line-metropolitan.svg" alt="Metropolitan">
                                    <img src="{$themePath}/public/i/station-symbol-line-hammersmith.svg" alt="Hammersmith & City">
                                    <img src="{$themePath}/public/i/station-symbol-rail.svg" alt="National Rail">
                                </span>
                                <span class="name-wrap">
                                    <h4 class="station-name">KING’S CROSS /<br>ST. PANCRAS</h4>
                                    <span class="time">4 mins</span>
                                </span>
                            </li>
                            <li class="station">
                                <span class="station-signs">
                                    <img src="{$themePath}/public/i/station-symbol-line-victoria.svg" alt="Victoria">
                                    <img src="{$themePath}/public/i/station-symbol-line-northern.svg" alt="Northern">
                                    <img src="{$themePath}/public/i/station-symbol-overground.svg" alt="Overground">
                                    <img src="{$themePath}/public/i/station-symbol-rail.svg" alt="National Rail">
                                </span>
                                <span class="name-wrap">
                                    <h4 class="station-name">EUSTON</h4>
                                    <span class="time">12 min</span>
                                </span>
                            </li>
                            <li class="station">
                                <span class="station-signs">
                                    <img src="{$themePath}/public/i/station-symbol-airport.svg" alt="Airport">
                                    <img src="{$themePath}/public/i/station-symbol-rail.svg" alt="National Rail">
                                </span>
                                <span class="name-wrap">
                                    <h4 class="station-name">LUTON <br>AIRPORT</h4>
                                    <span class="time">41 min</span>
                                </span>
                            </li>
                        </ul>
                    </div><?php //direction ?>
                    <div class="direction">
                        <h3 class="direction-name"><span class="l">Direction</span><span class="t">WOOLWICH</span></h3>
                        <ul class="stations">
                            <li class="station">
                                <span class="station-signs">
                                    <img src="{$themePath}/public/i/station-symbol-crossrail.svg" alt="Crossrail"><br>
                                    <img src="{$themePath}/public/i/station-symbol-line-central.svg" alt="Central">
                                    <img src="{$themePath}/public/i/station-symbol-line-circle.svg" alt="Circle">
                                    <img src="{$themePath}/public/i/station-symbol-line-metropolitan.svg" alt="Metropolitan">
                                    <img src="{$themePath}/public/i/station-symbol-line-hammersmith.svg" alt="Hammersmith & City">
                                    <img src="{$themePath}/public/i/station-symbol-overground.svg" alt="Overground">
                                    <img src="{$themePath}/public/i/station-symbol-rail.svg" alt="National Rail">
                                </span>
                                <span class="name-wrap">
                                    <h4 class="station-name">LIVERPOOL <br>STREET</h4>
                                    <span class="time">2 mins</span>
                                </span>
                            </li>
                            <li class="station">
                                <span class="station-signs">
                                    <img src="{$themePath}/public/i/station-symbol-crossrail.svg" alt="Crossrail"><br>
                                    <img src="{$themePath}/public/i/station-symbol-line-district.svg" alt="District">
                                    <img src="{$themePath}/public/i/station-symbol-line-hammersmith.svg" alt="Hammersmith & City">
                                    <img src="{$themePath}/public/i/station-symbol-overground.svg" alt="Overground">
                                </span>
                                <span class="name-wrap">
                                    <h4 class="station-name">WHITECHAPEL</h4>
                                    <span class="time">5 min</span>
                                </span>
                            </li>
                            <li class="station">
                                <span class="station-signs">
                                    <img src="{$themePath}/public/i/station-symbol-crossrail.svg" alt="Crossrail"><br>
                                    <img src="{$themePath}/public/i/station-symbol-line-jubilee.svg" alt="Jubilee">
                                    <img src="{$themePath}/public/i/station-symbol-line-waterloo.svg" alt="Waterloo & City">
                                </span>
                                <span class="name-wrap">
                                    <h4 class="station-name">CANARY <br>WHARF</h4>
                                    <span class="time">8 min</span>
                                </span>
                            </li>
                            <li class="station">
                                <span class="station-signs">
                                    <img src="{$themePath}/public/i/station-symbol-crossrail.svg" alt="Crossrail"><br><img src="{$themePath}/public/i/station-symbol-line-waterloo.svg" alt="Waterloo & City"><img src="{$themePath}/public/i/station-symbol-rail.svg" alt="National Rail">
                                </span>
                                <span class="name-wrap">
                                    <h4 class="station-name">WOOLWICH</h4>
                                    <span class="time">17 min</span>
                                </span>
                            </li>
                        </ul>
                    </div><?php //direction ?>
                    <div class="direction">
                        <h3 class="direction-name"><span class="l">Direction</span><span class="t">BRIGHTON</span></h3>
                        <ul class="stations">
                            <li class="station">
                                <span class="station-signs">
                                    <img src="{$themePath}/public/i/station-symbol-line-district.svg" alt="District">
                                    <img src="{$themePath}/public/i/station-symbol-line-circle.svg" alt="Circle">
                                    <img src="{$themePath}/public/i/station-symbol-rail.svg" alt="National Rail">
                                </span>
                                <span class="name-wrap">
                                    <h4 class="station-name">BLACKFRIARS</h4>
                                    <span class="time">6 mins</span>
                                </span>
                            </li>
                            <li class="station">
                                <span class="station-signs">
                                    <img src="{$themePath}/public/i/station-symbol-airport.svg" alt="Airport">
                                    <img src="{$themePath}/public/i/station-symbol-rail.svg" alt="National Rail">
                                </span>
                                <span class="name-wrap">
                                    <h4 class="station-name">GATWICK <br>AIRPORT</h4>
                                    <span class="time">55 min</span>
                                </span>
                            </li>
                            <li class="station">
                                <span class="station-signs">
                                    <img src="{$themePath}/public/i/station-symbol-rail.svg" alt="National Rail">
                                </span>
                                <span class="name-wrap">
                                    <h4 class="station-name">BRIGHTON</h4>
                                    <span class="time">89 min</span>
                                </span>
                            </li>
                        </ul>
                    </div><?php //direction ?>
                    <div class="direction">
                        <h3 class="direction-name"><span class="l">Direction</span><span class="t">HEATHROW</span></h3>
                        <ul class="stations">
                            <li class="station">
                                <span class="station-signs">
                                    <img src="{$themePath}/public/i/station-symbol-crossrail.svg" alt="Crossrail"><br>
                                    <img src="{$themePath}/public/i/station-symbol-line-central.svg" alt="Central">
                                    <img src="{$themePath}/public/i/station-symbol-line-northern.svg" alt="Northern">
                                </span>
                                <span class="name-wrap">
                                    <h4 class="station-name">TOTTENHAN <br>COURT ROAD</h4>
                                    <span class="time">2 mins</span>
                                </span>
                            </li>
                            <li class="station">
                                <span class="station-signs">
                                    <img src="{$themePath}/public/i/station-symbol-crossrail.svg" alt="Crossrail"><br>
                                    <img src="{$themePath}/public/i/station-symbol-line-jubilee.svg" alt="Jubilee">
                                    <img src="{$themePath}/public/i/station-symbol-line-central.svg" alt="Central">
                                </span>
                                <span class="name-wrap">
                                    <h4 class="station-name">BOND <br>STREET</h4>
                                    <span class="time">4 min</span>
                                </span>
                            </li>
                            <li class="station">
                                <span class="station-signs">
                                    <img src="{$themePath}/public/i/station-symbol-crossrail.svg" alt="Crossrail"><br>
                                    <img src="{$themePath}/public/i/station-symbol-line-circle.svg" alt="Circle">
                                    <img src="{$themePath}/public/i/station-symbol-line-district.svg" alt="District">
                                    <img src="{$themePath}/public/i/station-symbol-line-hammersmith.svg" alt="Hammersmith & City">
                                    <img src="{$themePath}/public/i/station-symbol-line-metropolitan.svg" alt="Metropolitan">
                                    <img src="{$themePath}/public/i/station-symbol-rail.svg" alt="National Rail">
                                </span>
                                <span class="name-wrap">
                                    <h4 class="station-name">PADDINGTON</h4>
                                    <span class="time">8 min</span>
                                </span>
                            </li>
                            <li class="station">
                                <span class="station-signs">
                                    <img src="{$themePath}/public/i/station-symbol-crossrail.svg" alt="Crossrail"><br>
                                    <img src="{$themePath}/public/i/station-symbol-line-piccadilly.svg" alt="Piccadilly">
                                </span>
                                <span class="name-wrap">
                                    <h4 class="station-name">HEATHROW <br>AIRPORT</h4>
                                    <span class="time">32 min</span>
                                </span>
                            </li>
                        </ul>
                    </div><?php //direction ?>
                </div>
            </div>
        </div>

        <div class="section-location-discover js-map">
            <div class="map-holder">
                <!--<div class="map-image-placeholder" style="background-image:url('{$themePath}/public/i/img-map.png');"></div>-->
                <!--<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d85168.2217370349!2d17.113088!3d48.1583104!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2ssk!4v1527335998573" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>-->
                <div class="map-embed js-map__embed" data-lat="51.515599" data-lng="-0.104695" data-zoom="16" style="position: initial !important;"></div>
            </div>
            <div class="section-inner">
                <h2 class="el-section-title">{get_field('s_map_title')|noescape}</h2>
                <div class="row">
                    <div class="map-wrap">
                        <div class="map-placeholder"></div>
                    </div>
                    <div id="accordion" class="data-wrap">
                        <h3 class="acc-title">AMENITIES</h3>
                        <div>
                            {foreach $map->groups as $z => $group}
                                {continueIf !in_array($group->id, $map->amenities)}
                                <h4 class="acc-subtitle js-map__group" data-toggle="collapse" data-target="#map-groups-amenities-{$z}" aria-expanded="false" aria-controls="collapse1" data-id="{$group->id}" data-name="{$group->name}" >{$group->name}</h4>
                                <div id="map-groups-amenities-{$z}" class="acc-content collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                    <ol>
                                        <li n:foreach="$group->places as $place" ><a href="#" class="js-map__place" data-id="{$place->id}" data-group="{$place->group}" data-lat="{$place->lat}" data-lng="{$place->lng}" data-name="{$place->name}" data-description="{$place->description}">{$place->name}</a></li>
                                    </ol>
                                </div>
                            {/foreach}
                        </div>
                        <h3 class="acc-title">OCCUPIERS</h3>
                        <div>
                            {foreach $map->groups as $z => $group}
                                {continueIf !in_array($group->id, $map->occupiers)}
                                <h4 class="acc-subtitle js-map__group" data-toggle="collapse" data-target="#map-groups-occupiers-{$z}" aria-expanded="false" aria-controls="collapse1" data-id="{$group->id}" data-name="{$group->name}" >{$group->name}</h4>
                                <div id="map-groups-occupiers-{$z}" class="acc-content collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                    <ol>
                                        <li n:foreach="$group->places as $place" ><a href="#" class="js-map__place" data-id="{$place->id}" data-group="{$place->group}" data-lat="{$place->lat}" data-lng="{$place->lng}" data-name="{$place->name}" data-description="{$place->description}">{$place->name}</a></li>
                                    </ol>
                                </div>
                            {/foreach}
                        </div>
                    </div><?php //#accordion ?>
                </div>
            </div>
        </div>

        <div class="section-slider section-location-slider">
            <div class="section-inner">
                <h2 class="el-section-title">{get_field('s_gallety_title')|noescape}</h2>
            </div>
            <div class="section-bg">
                <div class="section-inner">
                    <div class="slider">
                        <div n:foreach="get_field('s_gallery') as $image" class="slider-item"><a><span class="image" style="background-image:url('{$image['image']}');"></span><span class="description">{$image['text']}</span></a></div>
                    </div>
                </div>
            </div>
        </div>

        {include 'includes/contact.latte' }

    </main>

    {include 'includes/footer.latte' }

</div>

