{layout '@layout.latte'}

{$title = 'HB Reavis - 20Farringdon'}

{block body}

<div id="page" class="page404">

    {*{include 'includes/cookies.inc.latte' }*}
    {include 'includes/header.latte' }

    <main id="main">

        <div class="section-top">
            <div class="section-inner">
                <div class="section-wrap">
                    <div class="error-wrap">
                        <h1 class="title"><span class="t">404</span></h1>
                        <div class="text">
                            <p>{get_field('s_404_text')|noescape}</p>
                        </div>
                        <a n:href="home" class="el-btn">{get_field('s_404_button')}</a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    {include 'includes/footer.latte' }

</div>