body {
  background: url('../i/22farringdonst89-348xpersonV2.jpg') no-repeat center center;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
  }
}

#login {
  position: relative;
  z-index: 10;
}

body.login div#login h1 a {
  background-image: url('../i/logo-h.svg');
  width: 120px;
  height: 40px;
  background-size: contain;
}

.login {
  #nav,
  #backtoblog {
    color: #fff;
    a {
      color: #fff;
    }
  }
}